In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

import warnings
warnings.filterwarnings("ignore")

In [2]:
original_df = pd.read_csv('apartments_for_rent_classified_10K_utf.csv')

In [3]:
df = original_df[["amenities", "bathrooms", "bedrooms", "fee", "price", "price_type", "square_feet", "cityname", "state", "time"]]

In [4]:
df.head(5)

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
0,NaN,NaN,0.0,No,790,Monthly,101,Washington,DC,1577359415
1,NaN,NaN,1.0,No,425,Monthly,106,Evansville,IN,1577017063
2,NaN,1.0,0.0,No,1390,Monthly,107,Arlington,VA,1577359410
3,NaN,1.0,0.0,No,925,Monthly,116,Seattle,WA,1576667743
4,NaN,NaN,0.0,No,880,Monthly,125,Arlington,VA,1577359401

In [5]:
df.isna().mean()

amenities      0.3549
bathrooms      0.0034
bedrooms       0.0007
fee            0.0000
price          0.0000
price_type     0.0000
square_feet    0.0000
cityname       0.0077
state          0.0077
time           0.0000
dtype: float64

## Convert timestamp to datetime objects

In [6]:
df['time'] = pd.to_datetime(df['time'], unit='s')

In [7]:
df.head(2)

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
0,NaN,NaN,0.0,No,790,Monthly,101,Washington,DC,2019-12-26 11:23:35
1,NaN,NaN,1.0,No,425,Monthly,106,Evansville,IN,2019-12-22 12:17:43

## Normalizing Price and Square Feet

Convert any prices measured in Weeks to Months by converting to price per day then price per year then price per month (roughly 4.348 multiplier).

There is one abnormally high price with 'weekly' price_type. The price for 'week' is 1560, and digging into the dataset, we found that it is a duplicate of index 15. The listing is for the same place except it's on another listing website. This duplicate will be dropped in favor of the other one.

There is also one record with 'Monthly|Weekely' price_type with a price of 275.0, and the price is likely to be on a monthly basis.

In [8]:
df[df['price'] == 1560][:2]

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
15,"AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,No,1560,Weekly,200,New Bern,NC,2019-12-17 21:27:56
16,"AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,No,1560,Monthly,200,New Bern,NC,2019-12-15 10:37:53

In [9]:
df = df.drop([16,17])

In [10]:
df[df['price_type'] == 'Monthly|Weekly']

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
235,"Cable or Satellite,Pool,Refrigerator,Storage,TV",NaN,NaN,No,275,Monthly|Weekly,300,Lakeland,FL,2019-11-27 21:43:20

In [11]:
for i in df.index:
  if (df['price_type'][i] == "Weekly") or (df['price_type'][i] == "Monthly/Weekly"):
    df.loc[i, 'price'] = df['price'][i] / 7 * 365.25 / 12

df['price'] = (df['price'] - df['price'].min()) / (df['price'].max() - df['price'].min())

In [12]:
print(df['price'].min())
print(df['price'].max())

0.0
1.0

Since we have standardized the units of the price, we can drop the price_type column.

In [13]:
df = df.drop(columns=['price_type'])

## Normalize the square_feet using Min Max method

In [14]:
df['square_feet'] = (df['square_feet'] - df['square_feet'].min()) / (df['square_feet'].max() - df['square_feet'].min())

In [15]:
print(df['square_feet'].min())
print(df['square_feet'].max())

0.0
1.0

## Impute NaN values using median

In [16]:
df['bathrooms'] = df['bathrooms'].replace({np.nan: df['bathrooms'].median()})

In [17]:
df['bedrooms'] = df['bedrooms'].replace({np.nan: df['bedrooms'].median()})

## Preprocessing on the amenities

In [18]:
df['amenities'] = np.array(df['amenities'].str.strip().str.split(","))

In [19]:
df

,amenities,bathrooms,bedrooms,fee,price,square_feet,cityname,state,time
0,NaN,1.0,0.0,No,0.011281,0.000000,Washington,DC,2019-12-26 11:23:35
1,NaN,1.0,1.0,No,0.004302,0.000125,Evansville,IN,2019-12-22 12:17:43
2,NaN,1.0,0.0,No,0.022753,0.000150,Arlington,VA,2019-12-26 11:23:30
3,NaN,1.0,0.0,No,0.013862,0.000376,Seattle,WA,2019-12-18 11:15:43
4,NaN,1.0,0.0,No,0.013002,0.000602,Arlington,VA,2019-12-26 11:23:21
...,...,...,...,...,...,...,...,...,...
9995,NaN,4.0,5.0,No,0.110899,0.155367,Edina,MN,2019-11-30 11:22:55
9996,NaN,8.0,6.0,No,0.474187,0.215920,Montecito,CA,2019-12-26 11:40:19
9997,NaN,8.5,6.0,No,0.206501,0.281135,Potomac,MD,2019-12-26 11:42:40
9998,"[Basketball, Cable or Satellite, Doorman, Hot ...",1.0,1.0,No,0.087763,1.000000,New York,NY,2019-12-26 12:09:46
9999,"[Gym, Patio/Deck]",1.0,1.0,No,0.015468,0.019524,Lawrenceville,GA,2019-12-26 12:09:01

In [20]:
df['amenities'] = df['amenities'].replace({np.nan: 'None'})

In [21]:
df.head(5)

,amenities,bathrooms,bedrooms,fee,price,square_feet,cityname,state,time
0,None,1.0,0.0,No,0.011281,0.000000,Washington,DC,2019-12-26 11:23:35
1,None,1.0,1.0,No,0.004302,0.000125,Evansville,IN,2019-12-22 12:17:43
2,None,1.0,0.0,No,0.022753,0.000150,Arlington,VA,2019-12-26 11:23:30
3,None,1.0,0.0,No,0.013862,0.000376,Seattle,WA,2019-12-18 11:15:43
4,None,1.0,0.0,No,0.013002,0.000602,Arlington,VA,2019-12-26 11:23:21

## Assign a unique value to each state and city
Unique values has been assigned to cities and states, np.nan will have a value of 0.

In [22]:
all_states = df['state'].unique()
all_states

array(['DC', 'IN', 'VA', 'WA', 'NY', 'CA', 'AZ', 'NC', 'GA', 'FL', nan,
       'AL', 'MD', 'CO', 'NM', 'IL', 'TN', 'AK', 'MA', 'NJ', 'OR', 'DE',
       'PA', 'TX', 'IA', 'SC', 'MN', 'MI', 'KY', 'WI', 'OH', 'CT', 'RI',
       'NV', 'UT', 'MO', 'OK', 'NH', 'NE', 'LA', 'ND', 'AR', 'KS', 'ID',
       'HI', 'MT', 'VT', 'SD', 'WV', 'MS', 'ME', 'WY'], dtype=object)

In [23]:
rep_vals = {}
for i in range(len(all_states)):
    rep_vals[all_states[i]] = i

In [24]:
rep_vals

{'DC': 0,
 'IN': 1,
 'VA': 2,
 'WA': 3,
 'NY': 4,
 'CA': 5,
 'AZ': 6,
 'NC': 7,
 'GA': 8,
 'FL': 9,
 nan: 10,
 'AL': 11,
 'MD': 12,
 'CO': 13,
 'NM': 14,
 'IL': 15,
 'TN': 16,
 'AK': 17,
 'MA': 18,
 'NJ': 19,
 'OR': 20,
 'DE': 21,
 'PA': 22,
 'TX': 23,
 'IA': 24,
 'SC': 25,
 'MN': 26,
 'MI': 27,
 'KY': 28,
 'WI': 29,
 'OH': 30,
 'CT': 31,
 'RI': 32,
 'NV': 33,
 'UT': 34,
 'MO': 35,
 'OK': 36,
 'NH': 37,
 'NE': 38,
 'LA': 39,
 'ND': 40,
 'AR': 41,
 'KS': 42,
 'ID': 43,
 'HI': 44,
 'MT': 45,
 'VT': 46,
 'SD': 47,
 'WV': 48,
 'MS': 49,
 'ME': 50,
 'WY': 51}

In [25]:
rep_vals[np.nan] = 0
rep_vals['DC'] = 10

In [26]:
rep_vals

{'DC': 10,
 'IN': 1,
 'VA': 2,
 'WA': 3,
 'NY': 4,
 'CA': 5,
 'AZ': 6,
 'NC': 7,
 'GA': 8,
 'FL': 9,
 nan: 0,
 'AL': 11,
 'MD': 12,
 'CO': 13,
 'NM': 14,
 'IL': 15,
 'TN': 16,
 'AK': 17,
 'MA': 18,
 'NJ': 19,
 'OR': 20,
 'DE': 21,
 'PA': 22,
 'TX': 23,
 'IA': 24,
 'SC': 25,
 'MN': 26,
 'MI': 27,
 'KY': 28,
 'WI': 29,
 'OH': 30,
 'CT': 31,
 'RI': 32,
 'NV': 33,
 'UT': 34,
 'MO': 35,
 'OK': 36,
 'NH': 37,
 'NE': 38,
 'LA': 39,
 'ND': 40,
 'AR': 41,
 'KS': 42,
 'ID': 43,
 'HI': 44,
 'MT': 45,
 'VT': 46,
 'SD': 47,
 'WV': 48,
 'MS': 49,
 'ME': 50,
 'WY': 51}

In [27]:
df['state_num'] = df['state'].replace(rep_vals)

In [28]:
df.head(5)

,amenities,bathrooms,bedrooms,fee,price,square_feet,cityname,state,time,state_num
0,None,1.0,0.0,No,0.011281,0.000000,Washington,DC,2019-12-26 11:23:35,10
1,None,1.0,1.0,No,0.004302,0.000125,Evansville,IN,2019-12-22 12:17:43,1
2,None,1.0,0.0,No,0.022753,0.000150,Arlington,VA,2019-12-26 11:23:30,2
3,None,1.0,0.0,No,0.013862,0.000376,Seattle,WA,2019-12-18 11:15:43,3
4,None,1.0,0.0,No,0.013002,0.000602,Arlington,VA,2019-12-26 11:23:21,2

In [29]:
all_cities = df['cityname'].unique()

In [30]:
rep_city_vals = {}
for i in range(len(all_cities)):
    rep_city_vals[all_cities[i]] = i

In [31]:
rep_city_vals

{'Washington': 0,
 'Evansville': 1,
 'Arlington': 2,
 'Seattle': 3,
 'Manhattan': 4,
 'Venice': 5,
 'San Francisco': 6,
 'Tucson': 7,
 'New Bern': 8,
 'Vallejo': 9,
 'Marietta': 10,
 'Charlotte': 11,
 'Tallahassee': 12,
 nan: 13,
 'Phoenix': 14,
 'Riverview': 15,
 'Lafayette': 16,
 'Glen Burnie': 17,
 'Littleton': 18,
 'Waldorf': 19,
 'Aurora': 20,
 'Manassas': 21,
 'Decatur': 22,
 'Tampa': 23,
 'Albuquerque': 24,
 'Chicago': 25,
 'Gastonia': 26,
 'Wimauma': 27,
 'Memphis': 28,
 'Bellingham': 29,
 'Anchorage': 30,
 'Pacifica': 31,
 'Marina Del Rey': 32,
 'Studio City': 33,
 'Moorpark': 34,
 'Torrance': 35,
 'Sacramento': 36,
 'Lake Balboa': 37,
 'North Hollywood': 38,
 'Denver': 39,
 'Brentwood': 40,
 'San Rafael': 41,
 'North Potomac': 42,
 'Andover': 43,
 'Oakland': 44,
 'San Pablo': 45,
 'Alexandria': 46,
 'Thousand Oaks': 47,
 'Burke': 48,
 'Bellevue': 49,
 'Wilton': 50,
 'Woodland Hills': 51,
 'Miami': 52,
 'Hyattsville': 53,
 'Westminster': 54,
 'Arvada': 55,
 'Seal Beach': 56,
 'San Marcos': 57,
 'Medford Lakes': 58,
 'Concord': 59,
 'Chula Vista': 60,
 'Highlands Ranch': 61,
 'Laurel': 62,
 'Orlando': 63,
 'Boulder': 64,
 'La Puente': 65,
 'Anaheim': 66,
 'Commerce City': 67,
 'Naples': 68,
 'Atlanta': 69,
 'Sarasota': 70,
 'Lorton': 71,
 'Fort Lupton': 72,
 'Woodbridge': 73,
 'Nashville': 74,
 'Saint Petersburg': 75,
 'Portland': 76,
 'Joppa': 77,
 'Broomfield': 78,
 'Englewood': 79,
 'Potomac': 80,
 'Deltona': 81,
 'Lodi': 82,
 'Jacksonville': 83,
 'Parker': 84,
 'Fountain': 85,
 'Fort Collins': 86,
 'Loveland': 87,
 'Longwood': 88,
 'Bear': 89,
 'Hummelstown': 90,
 'Riverside': 91,
 'Port Saint Lucie': 92,
 'Germantown': 93,
 'Hiram': 94,
 'Converse': 95,
 'Houston': 96,
 'Apache Junction': 97,
 'Austin': 98,
 'Scottsdale': 99,
 'Baltimore': 100,
 'Centennial': 101,
 'Lakewood': 102,
 'Kyle': 103,
 'Cedar Falls': 104,
 'Summit': 105,
 'Columbia': 106,
 'Coon Rapids': 107,
 'Salem': 108,
 'Chiefland': 109,
 'San Antonio': 110,
 'Antioch': 111,
 'Surfside Beach': 112,
 'Spring Hill': 113,
 'Dunwoody': 114,
 'Santa Cruz': 115,
 'Houghton': 116,
 'Raleigh': 117,
 'New Canton': 118,
 'Vero Beach': 119,
 'Coatesville': 120,
 'Winter Springs': 121,
 'Clarksville': 122,
 'Springfield': 123,
 'Little River': 124,
 'Bacliff': 125,
 'Paulden': 126,
 'Frankfort': 127,
 'Mount Airy': 128,
 'Kirkland': 129,
 'Madison': 130,
 'San Leandro': 131,
 'Bloomington': 132,
 'Corona Del Mar': 133,
 'Los Angeles': 134,
 'Gilbert': 135,
 'Cincinnati': 136,
 'Oxon Hill': 137,
 'Oakdale': 138,
 'Minneapolis': 139,
 'Iowa City': 140,
 'Palo Alto': 141,
 'Ramsey': 142,
 'Monrovia': 143,
 'Farmington': 144,
 'Gaithersburg': 145,
 'Manchester': 146,
 'Brooklyn': 147,
 'Linthicum Heights': 148,
 'Long Beach': 149,
 'Milwaukee': 150,
 'Wesley Chapel': 151,
 'Tiverton': 152,
 'Stockbridge': 153,
 'Columbus': 154,
 'Grand Junction': 155,
 'Champaign': 156,
 'Lakeland': 157,
 'Reno': 158,
 'West Lafayette': 159,
 'Lowell': 160,
 'Indianapolis': 161,
 'Ogden': 162,
 'Lexington': 163,
 'Chevy Chase': 164,
 'Cleveland': 165,
 'Boston': 166,
 'Redondo Beach': 167,
 'Las Vegas': 168,
 'Bridgeport': 169,
 'Toledo': 170,
 'Kansas City': 171,
 'Des Moines': 172,
 'Shorewood': 173,
 'Gainesville': 174,
 'Wausau': 175,
 'Tempe': 176,
 'Chattanooga': 177,
 'Saint Louis': 178,
 'Ann Arbor': 179,
 'San Jose': 180,
 'Haverhill': 181,
 'Philadelphia': 182,
 'Westerville': 183,
 'Spokane': 184,
 'Cumberland': 185,
 'Syracuse': 186,
 'Lees Summit': 187,
 'Urbana': 188,
 'East Orange': 189,
 'Tulsa': 190,
 'Hamden': 191,
 'North Muskegon': 192,
 'New Brunswick': 193,
 'Alvin': 194,
 'Santa Monica': 195,
 'San Diego': 196,
 'Edgerton': 197,
 'Cerritos': 198,
 'Knoxville': 199,
 'Central City': 200,
 'Providence': 201,
 'Castle Hills': 202,
 'Dania Beach': 203,
 'Auburn': 204,
 'Briarwood': 205,
 'La Mesa': 206,
 'Bellflower': 207,
 'Somerville': 208,
 'Owings Mills': 209,
 'Portsmouth': 210,
 'Pembroke Pines': 211,
 'Tacoma': 212,
 'Clayton': 213,
 'Roswell': 214,
 'Newmarket': 215,
 'Saint Louis Park': 216,
 'Newport News': 217,
 'Thornton': 218,
 'Gresham': 219,
 'West Hartford': 220,
 'Forest Lake': 221,
 'Longmont': 222,
 'Cameron': 223,
 'Omaha': 224,
 'North Fort Myers': 225,
 'Greensboro': 226,
 'Shreveport': 227,
 'Youngstown': 228,
 'Minot': 229,
 'Port Arthur': 230,
 'Cambridge': 231,
 'Wauwatosa': 232,
 'Pittsburgh': 233,
 'Seatac': 234,
 'Fort Belvoir': 235,
 'Stratford': 236,
 'Ames': 237,
 'Amarillo': 238,
 'Niles': 239,
 'Norfolk': 240,
 'San Pedro': 241,
 'Birmingham': 242,
 'Fayetteville': 243,
 'Detroit': 244,
 'Dallas': 245,
 'Commerce': 246,
 'Colorado Springs': 247,
 'Jersey City': 248,
 'New London': 249,
 'Akron': 250,
 'Woodinville': 251,
 'Oklahoma City': 252,
 'Framingham': 253,
 'Round Rock': 254,
 'Hillsboro': 255,
 'Tyler': 256,
 'Evanston': 257,
 'Georgetown': 258,
 'Sausalito': 259,
 'Fontana': 260,
 'College Station': 261,
 'Bremerton': 262,
 'Belleville': 263,
 'Lynnwood': 264,
 'Buffalo': 265,
 'Pasadena': 266,
 'Camden': 267,
 'North Kansas City': 268,
 'Carbondale': 269,
 'Elizabethtown': 270,
 'Pampa': 271,
 'Weymouth': 272,
 'Albany': 273,
 'Saint George': 274,
 'Mesa': 275,
 'Berrien Springs': 276,
 'Boise': 277,
 'Mercedes': 278,
 'New Haven': 279,
 'Eugene': 280,
 'Wilkes Barre': 281,
 'Wenatchee': 282,
 'Salt Lake City': 283,
 'Smyrna': 284,
 'Glendale': 285,
 'Saint Joseph': 286,
 'Rochester': 287,
 'Corpus Christi': 288,
 'Berkeley': 289,
 'Rockville': 290,
 'Peoria': 291,
 'Winter Park': 292,
 'Lake Oswego': 293,
 'Fort Lauderdale': 294,
 'Pflugerville': 295,
 'Bradenton': 296,
 'Upper Darby': 297,
 'Oak Park': 298,
 'Fremont': 299,
 'Bethesda': 300,
 'Waukesha': 301,
 'East Grand Forks': 302,
 'Midland': 303,
 'Plano': 304,
 'Valley Village': 305,
 'Somerset': 306,
 'Honolulu': 307,
 'Fitchburg': 308,
 'Pico Rivera': 309,
 'Santee': 310,
 'Brea': 311,
 'Medford': 312,
 'Billings': 313,
 'Forest Grove': 314,
 'Petersburg': 315,
 'Hasbrouck Heights': 316,
 'Flint': 317,
 'Vancouver': 318,
 'Hayward': 319,
 'Hanover': 320,
 'Wharton': 321,
 'West Hollywood': 322,
 'Carlsbad': 323,
 'New Rochelle': 324,
 'Ridgewood': 325,
 'El Cajon': 326,
 'Fairfax': 327,
 'Kent': 328,
 'Tustin': 329,
 'Upland': 330,
 'Ashland': 331,
 'Saint Paul': 332,
 'Takoma Park': 333,
 'Londonderry': 334,
 'Greeley': 335,
 'Minnetonka': 336,
 'West Linn': 337,
 'Ypsilanti': 338,
 'Lewisville': 339,
 'Sun Prairie': 340,
 'Altamonte Springs': 341,
 'Fort Worth': 342,
 'Greenville': 343,
 'Silverton': 344,
 'Union City': 345,
 'East Lansing': 346,
 'Bennington': 347,
 'Grand Rapids': 348,
 'Grand Forks': 349,
 'Maple Heights': 350,
 'Corsica': 351,
 'New Kensington': 352,
 'Mobile': 353,
 'Euless': 354,
 'Denton': 355,
 'Leonia': 356,
 'Clinton': 357,
 'Norwich': 358,
 'Lubbock': 359,
 'Bothell': 360,
 'North Miami': 361,
 'Lincoln': 362,
 'Baton Rouge': 363,
 'San Luis Obispo': 364,
 'Milford': 365,
 'Hackensack': 366,
 'Lawrence': 367,
 'Kearny': 368,
 'Pawtucket': 369,
 'Brighton': 370,
 'Walla Walla': 371,
 'Lone Tree': 372,
 'Everett': 373,
 'Orange': 374,
 'Ellensburg': 375,
 'Abilene': 376,
 'South Weymouth': 377,
 'Doylestown': 378,
 'Nashua': 379,
 'Ontario': 380,
 'Richardson': 381,
 'Overland Park': 382,
 'Wichita': 383,
 'Groton': 384,
 'O Fallon': 385,
 'Brownsburg': 386,
 'Golden Valley': 387,
 'Urbandale': 388,
 'Oaklyn': 389,
 'Fargo': 390,
 'Silver Spring': 391,
 'Flagstaff': 392,
 'Plymouth': 393,
 'Danbury': 394,
 'Odessa': 395,
 'Davenport': 396,
 'Bismarck': 397,
 'Menomonee Falls': 398,
 'Saginaw': 399,
 'Richmond': 400,
 'Tigard': 401,
 'Beachwood': 402,
 'Norman': 403,
 'East Boston': 404,
 'Longview': 405,
 'Duarte': 406,
 'Chapel Hill': 407,
 'Eden Prairie': 408,
 'Yakima': 409,
 'Beloit': 410,
 'Green Bay': 411,
 'Sugar Land': 412,
 'Eagle River': 413,
 'La Verne': 414,
 'Suwanee': 415,
 'Kissimmee': 416,
 'Moorhead': 417,
 'Redmond': 418,
 'Hermosa Beach': 419,
 'Secane': 420,
 'West Allis': 421,
 'Wheaton': 422,
 'Hartford': 423,
 'Edmond': 424,
 'Prairie Village': 425,
 'Springdale': 426,
 'Lima': 427,
 'Van Buren': 428,
 'Saratoga Springs': 429,
 'Coronado': 430,
 'Stone Mountain': 431,
 'Walnut Creek': 432,
 'Merrimack': 433,
 'Edmonds': 434,
 'Port Orange': 435,
 'Durham': 436,
 'Fort Myers': 437,
 'Bowling Green': 438,
 'Sioux City': 439,
 'Elyria': 440,
 'West Fargo': 441,
 'Euclid': 442,
 'Spokane Valley': 443,
 'Scappoose': 444,
 'Sioux Falls': 445,
 'Cordova': 446,
 'New Braunfels': 447,
 'Corona': 448,
 'Independence': 449,
 'Red Oak': 450,
 'Rahway': 451,
 'Pierre': 452,
 'Carrboro': 453,
 'Windsor': 454,
 'Golden': 455,
 'Storrs': 456,
 'Leander': 457,
 'Westland': 458,
 'Moses Lake': 459,
 'Glens Falls': 460,
 'Coulee Dam': 461,
 'Fenton': 462,
 'Rialto': 463,
 'Ferndale': 464,
 'Camas': 465,
 'Northglenn': 466,
 'Villa Park': 467,
 'Sparks': 468,
 'Mercer Island': 469,
 'Clearwater': 470,
 'Homestead': 471,
 'Tuckerton': 472,
 'Mission': 473,
 'Butner': 474,
 'Sault Sainte Marie': 475,
 'Panorama City': 476,
 'Cherry Hill': 477,
 'Leon Valley': 478,
 'Texarkana': 479,
 'Manassas Park': 480,
 'Moreno Valley': 481,
 'Anderson': 482,
 'Cedar Park': 483,
 'Elkhorn': 484,
 'Highland': 485,
 'Grand Prairie': 486,
 'Bladensburg': 487,
 'Kingsport': 488,
 'Elmwood Park': 489,
 'Rancho Palos Verdes': 490,
 'Cliffside Park': 491,
 'Dover': 492,
 'Westfield': 493,
 'Snohomish': 494,
 'Renton': 495,
 'Somersworth': 496,
 'Wilton Manors': 497,
 'Lake Worth': 498,
 'Verona': 499,
 'Coraopolis': 500,
 'Cheney': 501,
 'Burlington': 502,
 'Charleston': 503,
 'Daytona Beach': 504,
 'West Des Moines': 505,
 'Big Rapids': 506,
 'Hamilton': 507,
 'Marshall': 508,
 'Ruston': 509,
 'Lansing': 510,
 'Essexville': 511,
 'Rockford': 512,
 'Little Rock': 513,
 'Boone': 514,
 'Highland Park': 515,
 'Harlingen': 516,
 'Dayton': 517,
 'El Dorado': 518,
 'Greenbelt': 519,
 'Tuscaloosa': 520,
 'Bentonville': 521,
 'Grand Haven': 522,
 'Grandview': 523,
 'North Salt Lake': 524,
 'Livermore': 525,
 'West Covina': 526,
 'Sidney': 527,
 'Charlestown': 528,
 'Sterling Heights': 529,
 'Reston': 530,
 'Shelby Township': 531,
 'Derwood': 532,
 'Alpine': 533,
 'Jonesboro': 534,
 'Whittier': 535,
 'Rocky Mount': 536,
 'Worcester': 537,
 'Coral Gables': 538,
 'Eagan': 539,
 'North Sioux City': 540,
 'Millburn': 541,
 'Norwalk': 542,
 'Hampton': 543,
 'Canyon Lake': 544,
 'Baytown': 545,
 'Wilmington': 546,
 'Warsaw': 547,
 'Troy': 548,
 'Odenton': 549,
 'Mount Rainier': 550,
 'Waukee': 551,
 'Henrico': 552,
 'Kalamazoo': 553,
 'Florence': 554,
 'Mountain View': 555,
 'Kenmore': 556,
 'Maple Valley': 557,
 'Pompano Beach': 558,
 'Stockton': 559,
 'West Palm Beach': 560,
 'Bettendorf': 561,
 'Leesville': 562,
 'Hales Corners': 563,
 'Live Oak': 564,
 'Blue Springs': 565,
 'Ventura': 566,
 'Randolph': 567,
 'Oceanside': 568,
 'Broadview Heights': 569,
 'Butler': 570,
 'Bedford Heights': 571,
 'Piscataway': 572,
 'Beaverton': 573,
 'Hyde Park': 574,
 'Maple Shade': 575,
 'Grapevine': 576,
 'Sartell': 577,
 'Beaver Dam': 578,
 'Lutherville Timonium': 579,
 'Santa Clarita': 580,
 'Stoughton': 581,
 'Mountlake Terrace': 582,
 'Lutz': 583,
 'Dubuque': 584,
 'Universal City': 585,
 'Plainsboro': 586,
 'Mooresville': 587,
 'Bellmawr': 588,
 'Sunnyvale': 589,
 'Lexington Park': 590,
 'Eatontown': 591,
 'Savoy': 592,
 'Palestine': 593,
 'Hoboken': 594,
 'El Segundo': 595,
 'Martinez': 596,
 'Reseda': 597,
 'Bedford': 598,
 'Parsippany': 599,
 'Brooklyn Center': 600,
 'Hopkins': 601,
 'Raynham': 602,
 'Somerdale': 603,
 'League City': 604,
 'Valdosta': 605,
 'Murray': 606,
 'Slc': 607,
 'Knightdale': 608,
 'Monroeville': 609,
 'Mount Clemens': 610,
 'Logansport': 611,
 'Fairborn': 612,
 'Paducah': 613,
 'Cedar Rapids': 614,
 'Litchfield': 615,
 'Lawrenceville': 616,
 'Piqua': 617,
 'Lakeway': 618,
 'Delafield': 619,
 'Shawnee': 620,
 'Nixa': 621,
 'Humble': 622,
 'Paragould': 623,
 'Meridian': 624,
 'Johnson City': 625,
 'Lithonia': 626,
 'Winston Salem': 627,
 'Edina': 628,
 'Fullerton': 629,
 'Hawthorne': 630,
 'Maitland': 631,
 'West Saint Paul': 632,
 'Merriam': 633,
 'Cleveland Heights': 634,
 'Blanco': 635,
 'Brookfield': 636,
 'Spring': 637,
 'Katy': 638,
 'Cleburne': 639,
 'Mishawaka': 640,
 'Milledgeville': 641,
 'Casar': 642,
 'Bryan': 643,
 'Fond Du Lac': 644,
 'Northbrook': 645,
 'Pearland': 646,
 'Kennesaw': 647,
 'Federal Way': 648,
 'Chesapeake': 649,
 'Gulfport': 650,
 'Maumee': 651,
 'Port Orchard': 652,
 'Waterloo': 653,
 'Tomball': 654,
 'Herndon': 655,
 'Mount Laurel': 656,
 'Bainbridge Island': 657,
 'Lynchburg': 658,
 'Frederick': 659,
 'Montebello': 660,
 'Princeton Junction': 661,
 'San Bernardino': 662,
 'Marysville': 663,
 'Atlantic City': 664,
 'Virginia Beach': 665,
 'Wasilla': 666,
 'Grimes': 667,
 'West Bend': 668,
 'Manitowoc': 669,
 'Rapid City': 670,
 'South Dartmouth': 671,
 'Yukon': 672,
 'Bakersfield': 673,
 'Duluth': 674,
 'Schenectady': 675,
 'Bay Saint Louis': 676,
 'Willoughby': 677,
 'Ansonia': 678,
 'Battle Creek': 679,
 'Peru': 680,
 'Church Hill': 681,
 'Ozark': 682,
 'Fountain Valley': 683,
 'Sanford': 684,
 'Naperville': 685,
 'Topeka': 686,
 'Temple Hills': 687,
 'Carbon Cliff': 688,
 'Vernon': 689,
 'Van Nuys': 690,
 'Dickinson': 691,
 'Presto': 692,
 'College Park': 693,
 'Belmont': 694,
 'Newton': 695,
 'Mansfield': 696,
 'Oregon City': 697,
 'De Soto': 698,
 'Youngsville': 699,
 'Nacogdoches': 700,
 'White Plains': 701,
 'Lyndhurst': 702,
 'Doral': 703,
 'Mayville': 704,
 'Brockport': 705,
 'Lebanon': 706,
 'Santa Rosa': 707,
 'Apex': 708,
 'Santa Barbara': 709,
 'Playa Del Rey': 710,
 'Santa Clara': 711,
 'Revere': 712,
 'Westwood': 713,
 'Sherman Oaks': 714,
 'Artesia': 715,
 'Linden': 716,
 'Woburn': 717,
 'Bridgewater': 718,
 'Larchmont': 719,
 'Sunland': 720,
 'Glastonbury': 721,
 'Crofton': 722,
 'Aloha': 723,
 'Hemet': 724,
 'Raymond': 725,
 'Park Ridge': 726,
 'Garland': 727,
 'University Place': 728,
 'Berkley': 729,
 'Savannah': 730,
 'Carrollton': 731,
 'Kingwood': 732,
 'Fort Pierce': 733,
 'New Port Richey': 734,
 'Saint Francis': 735,
 'Bostic': 736,
 'Kokomo': 737,
 'Slidell': 738,
 'Metairie': 739,
 'Winsted': 740,
 'Mckeesport': 741,
 'Owasso': 742,
 'Glenshaw': 743,
 'Beaumont': 744,
 'Harrison': 745,
 'San Ramon': 746,
 'Cary': 747,
 'Bath': 748,
 'Fort Wayne': 749,
 'Canton': 750,
 'Clarkston': 751,
 'New York': 752,
 'Newport Beach': 753,
 'Ellicott City': 754,
 'Fishers': 755,
 'Selma': 756,
 'Sterling': 757,
 'Rancho Cucamonga': 758,
 'Kenosha': 759,
 'Johnston': 760,
 'Norcross': 761,
 'Mankato': 762,
 'East Pittsburgh': 763,
 'West Haven': 764,
 'Lufkin': 765,
 'Issaquah': 766,
 'Santa Fe': 767,
 'Louisville': 768,
 'Creedmoor': 769,
 'Mebane': 770,
 'Sandy': 771,
 'Middletown': 772,
 'South Saint Paul': 773,
 'Menifee': 774,
 'Holly Springs': 775,
 'Greenfield': 776,
 'Yonkers': 777,
 'Fort Washington': 778,
 'Ballwin': 779,
 'Cutler Ridge': 780,
 'Midlothian': 781,
 'Plant City': 782,
 'Midvale': 783,
 'Sammamish': 784,
 'Farmers Branch': 785,
 'Dalton': 786,
 'Stoneham': 787,
 'North Bergen': 788,
 'Short Hills': 789,
 'Cypress': 790,
 'Placentia': 791,
 'Lake Forest Park': 792,
 'Olathe': 793,
 'Washington Township': 794,
 'Nevada': 795,
 'Corunna': 796,
 'Waynesville': 797,
 'Canby': 798,
 'Mahtomedi': 799,
 'Mason': 800,
 'Ingleside': 801,
 'North Richland Hills': 802,
 'Saint Cloud': 803,
 'San Mateo': 804,
 'Oxnard': 805,
 'Landover': 806,
 'Racine': 807,
 'Mount Holly': 808,
 'Cherryville': 809,
 'Galveston': 810,
 'Newport': 811,
 'Plainfield': 812,
 'Taylorsville': 813,
 'Crystal': 814,
 'Azle': 815,
 'Wichita Falls': 816,
 'Kankakee': 817,
 'Randallstown': 818,
 'Wamego': 819,
 'Brook Park': 820,
 'Adelphi': 821,
 'Novi': 822,
 'New Orleans': 823,
 'Keene': 824,
 'Coventry': 825,
 'Vadnais Heights': 826,
 'Janesville': 827,
 'Princeton': 828,
 'Pennsauken': 829,
 'West Valley City': 830,
 'New Brighton': 831,
 'Mililani': 832,
 'Rexburg': 833,
 'Port Chester': 834,
 'Downey': 835,
 'Trenton': 836,
 'Zachary': 837,
 'Elkridge': 838,
 'Port Richey': 839,
 'Chubbuck': 840,
 'Rosemead': 841,
 'Chelsea': 842,
 'Stanton': 843,
 'Cumming': 844,
 'Blacksburg': 845,
 'Garden Grove': 846,
 'Westbrook': 847,
 'District Heights': 848,
 'West New York': 849,
 'Towson': 850,
 'Porterville': 851,
 'Vacaville': 852,
 'Canoga Park': 853,
 'East Hartford': 854,
 'Lanham': 855,
 'Frisco': 856,
 'Cockeysville': 857,
 'Wakefield': 858,
 'Pleasanton': 859,
 'Broadway': 860,
 'Lenexa': 861,
 'Bossier City': 862,
 'Bolingbrook': 863,
 'Covington': 864,
 'Media': 865,
 'Athens': 866,
 'Vidor': 867,
 'Findlay': 868,
 'North Royalton': 869,
 'West Orange': 870,
 'Hot Springs': 871,
 'Middleton': 872,
 'Elkhart': 873,
 'Huntington Beach': 874,
 'Inglewood': 875,
 'Poulsbo': 876,
 'Buena Park': 877,
 'La Habra': 878,
 'Happy Valley': 879,
 'Blaine': 880,
 'Riverdale': 881,
 'Austell': 882,
 'New Berlin': 883,
 'Royal Oak': 884,
 'Terrell': 885,
 'Woodbury': 886,
 'El Paso': 887,
 'Dike': 888,
 'Shawnee Mission': 889,
 'Pontiac': 890,
 'Pottstown': 891,
 'Lincoln Park': 892,
 'Jackson': 893,
 'Rogersville': 894,
 'Winter Garden': 895,
 'Hammond': 896,
 'Gonzales': 897,
 'Neenah': 898,
 'Wayne': 899,
 'Roselle Park': 900,
 'Collingswood': 901,
 'Camarillo': 902,
 'Saint Marys': 903,
 'Leawood': 904,
 'New Bedford': 905,
 'Apopka': 906,
 'Fredericksburg': 907,
 'Burnsville': 908,
 'Missouri City': 909,
 'Miami Beach': 910,
 'Montgomery': 911,
 'Alpharetta': 912,
 'Watertown': 913,
 'East Rutherford': 914,
 'Clermont': 915,
 'Hartland': 916,
 'Warren': 917,
 'Mundelein': 918,
 'Harrisburg': 919,
 'Allston': 920,
 'Flanders': 921,
 'Edgewater': 922,
 'Michigan City': 923,
 'Lakeville': 924,
 'New Carlisle': 925,
 'Palm Harbor': 926,
 'Elizabeth': 927,
 'Woodstock': 928,
 'Goffstown': 929,
 'North Las Vegas': 930,
 'Rogers': 931,
 'High Point': 932,
 'Grand Ledge': 933,
 'Stow': 934,
 'Hampstead': 935,
 'Orland Park': 936,
 'Pewaukee': 937,
 'Macon': 938,
 'Montclair': 939,
 'Budd Lake': 940,
 'Grandview Heights': 941,
 'Troutdale': 942,
 'Mandan': 943,
 'Malden': 944,
 'Whitefish Bay': 945,
 'Franklin': 946,
 'Medina': 947,
 'Hilliard': 948,
 'Harrison Township': 949,
 'Wickliffe': 950,
 'Shenandoah': 951,
 'Lake Elsinore': 952,
 'Campbell': 953,
 'Folsom': 954,
 'Henderson': 955,
 'San Juan Capistrano': 956,
 'Bensenville': 957,
 'Beverly Hills': 958,
 'Puyallup': 959,
 'Lake Charles': 960,
 'Vandalia': 961,
 'Clementon': 962,
 'Giddings': 963,
 'Mendota Heights': 964,
 'Inver Grove Heights': 965,
 'Rolla': 966,
 'Cassopolis': 967,
 'Needham Heights': 968,
 'Hollywood': 969,
 'Fort Lee': 970,
 'Bowie': 971,
 'Windermere': 972,
 'Arcadia': 973,
 'Neptune City': 974,
 'Bryn Mawr': 975,
 'Winooski': 976,
 'Spring Lake': 977,
 'Rotterdam': 978,
 'Taunton': 979,
 'Suitland': 980,
 'Olympia': 981,
 'Homewood': 982,
 'Newark': 983,
 'Reisterstown': 984,
 'Edwardsville': 985,
 'Vermilion': 986,
 'Waukegan': 987,
 'Pueblo': 988,
 'Indianola': 989,
 'Dexter': 990,
 'Broken Arrow': 991,
 'Altoona': 992,
 'Meeker': 993,
 'Morrisville': 994,
 'Carmel': 995,
 'Dumas': 996,
 'Fulton': 997,
 'Annapolis': 998,
 'Jamestown': 999,
 ...}

In [32]:
rep_city_vals[np.nan] = 0
rep_city_vals['Washington'] = 13

In [33]:
rep_city_vals

{'Washington': 13,
 'Evansville': 1,
 'Arlington': 2,
 'Seattle': 3,
 'Manhattan': 4,
 'Venice': 5,
 'San Francisco': 6,
 'Tucson': 7,
 'New Bern': 8,
 'Vallejo': 9,
 'Marietta': 10,
 'Charlotte': 11,
 'Tallahassee': 12,
 nan: 0,
 'Phoenix': 14,
 'Riverview': 15,
 'Lafayette': 16,
 'Glen Burnie': 17,
 'Littleton': 18,
 'Waldorf': 19,
 'Aurora': 20,
 'Manassas': 21,
 'Decatur': 22,
 'Tampa': 23,
 'Albuquerque': 24,
 'Chicago': 25,
 'Gastonia': 26,
 'Wimauma': 27,
 'Memphis': 28,
 'Bellingham': 29,
 'Anchorage': 30,
 'Pacifica': 31,
 'Marina Del Rey': 32,
 'Studio City': 33,
 'Moorpark': 34,
 'Torrance': 35,
 'Sacramento': 36,
 'Lake Balboa': 37,
 'North Hollywood': 38,
 'Denver': 39,
 'Brentwood': 40,
 'San Rafael': 41,
 'North Potomac': 42,
 'Andover': 43,
 'Oakland': 44,
 'San Pablo': 45,
 'Alexandria': 46,
 'Thousand Oaks': 47,
 'Burke': 48,
 'Bellevue': 49,
 'Wilton': 50,
 'Woodland Hills': 51,
 'Miami': 52,
 'Hyattsville': 53,
 'Westminster': 54,
 'Arvada': 55,
 'Seal Beach': 56,
 'San Marcos': 57,
 'Medford Lakes': 58,
 'Concord': 59,
 'Chula Vista': 60,
 'Highlands Ranch': 61,
 'Laurel': 62,
 'Orlando': 63,
 'Boulder': 64,
 'La Puente': 65,
 'Anaheim': 66,
 'Commerce City': 67,
 'Naples': 68,
 'Atlanta': 69,
 'Sarasota': 70,
 'Lorton': 71,
 'Fort Lupton': 72,
 'Woodbridge': 73,
 'Nashville': 74,
 'Saint Petersburg': 75,
 'Portland': 76,
 'Joppa': 77,
 'Broomfield': 78,
 'Englewood': 79,
 'Potomac': 80,
 'Deltona': 81,
 'Lodi': 82,
 'Jacksonville': 83,
 'Parker': 84,
 'Fountain': 85,
 'Fort Collins': 86,
 'Loveland': 87,
 'Longwood': 88,
 'Bear': 89,
 'Hummelstown': 90,
 'Riverside': 91,
 'Port Saint Lucie': 92,
 'Germantown': 93,
 'Hiram': 94,
 'Converse': 95,
 'Houston': 96,
 'Apache Junction': 97,
 'Austin': 98,
 'Scottsdale': 99,
 'Baltimore': 100,
 'Centennial': 101,
 'Lakewood': 102,
 'Kyle': 103,
 'Cedar Falls': 104,
 'Summit': 105,
 'Columbia': 106,
 'Coon Rapids': 107,
 'Salem': 108,
 'Chiefland': 109,
 'San Antonio': 110,
 'Antioch': 111,
 'Surfside Beach': 112,
 'Spring Hill': 113,
 'Dunwoody': 114,
 'Santa Cruz': 115,
 'Houghton': 116,
 'Raleigh': 117,
 'New Canton': 118,
 'Vero Beach': 119,
 'Coatesville': 120,
 'Winter Springs': 121,
 'Clarksville': 122,
 'Springfield': 123,
 'Little River': 124,
 'Bacliff': 125,
 'Paulden': 126,
 'Frankfort': 127,
 'Mount Airy': 128,
 'Kirkland': 129,
 'Madison': 130,
 'San Leandro': 131,
 'Bloomington': 132,
 'Corona Del Mar': 133,
 'Los Angeles': 134,
 'Gilbert': 135,
 'Cincinnati': 136,
 'Oxon Hill': 137,
 'Oakdale': 138,
 'Minneapolis': 139,
 'Iowa City': 140,
 'Palo Alto': 141,
 'Ramsey': 142,
 'Monrovia': 143,
 'Farmington': 144,
 'Gaithersburg': 145,
 'Manchester': 146,
 'Brooklyn': 147,
 'Linthicum Heights': 148,
 'Long Beach': 149,
 'Milwaukee': 150,
 'Wesley Chapel': 151,
 'Tiverton': 152,
 'Stockbridge': 153,
 'Columbus': 154,
 'Grand Junction': 155,
 'Champaign': 156,
 'Lakeland': 157,
 'Reno': 158,
 'West Lafayette': 159,
 'Lowell': 160,
 'Indianapolis': 161,
 'Ogden': 162,
 'Lexington': 163,
 'Chevy Chase': 164,
 'Cleveland': 165,
 'Boston': 166,
 'Redondo Beach': 167,
 'Las Vegas': 168,
 'Bridgeport': 169,
 'Toledo': 170,
 'Kansas City': 171,
 'Des Moines': 172,
 'Shorewood': 173,
 'Gainesville': 174,
 'Wausau': 175,
 'Tempe': 176,
 'Chattanooga': 177,
 'Saint Louis': 178,
 'Ann Arbor': 179,
 'San Jose': 180,
 'Haverhill': 181,
 'Philadelphia': 182,
 'Westerville': 183,
 'Spokane': 184,
 'Cumberland': 185,
 'Syracuse': 186,
 'Lees Summit': 187,
 'Urbana': 188,
 'East Orange': 189,
 'Tulsa': 190,
 'Hamden': 191,
 'North Muskegon': 192,
 'New Brunswick': 193,
 'Alvin': 194,
 'Santa Monica': 195,
 'San Diego': 196,
 'Edgerton': 197,
 'Cerritos': 198,
 'Knoxville': 199,
 'Central City': 200,
 'Providence': 201,
 'Castle Hills': 202,
 'Dania Beach': 203,
 'Auburn': 204,
 'Briarwood': 205,
 'La Mesa': 206,
 'Bellflower': 207,
 'Somerville': 208,
 'Owings Mills': 209,
 'Portsmouth': 210,
 'Pembroke Pines': 211,
 'Tacoma': 212,
 'Clayton': 213,
 'Roswell': 214,
 'Newmarket': 215,
 'Saint Louis Park': 216,
 'Newport News': 217,
 'Thornton': 218,
 'Gresham': 219,
 'West Hartford': 220,
 'Forest Lake': 221,
 'Longmont': 222,
 'Cameron': 223,
 'Omaha': 224,
 'North Fort Myers': 225,
 'Greensboro': 226,
 'Shreveport': 227,
 'Youngstown': 228,
 'Minot': 229,
 'Port Arthur': 230,
 'Cambridge': 231,
 'Wauwatosa': 232,
 'Pittsburgh': 233,
 'Seatac': 234,
 'Fort Belvoir': 235,
 'Stratford': 236,
 'Ames': 237,
 'Amarillo': 238,
 'Niles': 239,
 'Norfolk': 240,
 'San Pedro': 241,
 'Birmingham': 242,
 'Fayetteville': 243,
 'Detroit': 244,
 'Dallas': 245,
 'Commerce': 246,
 'Colorado Springs': 247,
 'Jersey City': 248,
 'New London': 249,
 'Akron': 250,
 'Woodinville': 251,
 'Oklahoma City': 252,
 'Framingham': 253,
 'Round Rock': 254,
 'Hillsboro': 255,
 'Tyler': 256,
 'Evanston': 257,
 'Georgetown': 258,
 'Sausalito': 259,
 'Fontana': 260,
 'College Station': 261,
 'Bremerton': 262,
 'Belleville': 263,
 'Lynnwood': 264,
 'Buffalo': 265,
 'Pasadena': 266,
 'Camden': 267,
 'North Kansas City': 268,
 'Carbondale': 269,
 'Elizabethtown': 270,
 'Pampa': 271,
 'Weymouth': 272,
 'Albany': 273,
 'Saint George': 274,
 'Mesa': 275,
 'Berrien Springs': 276,
 'Boise': 277,
 'Mercedes': 278,
 'New Haven': 279,
 'Eugene': 280,
 'Wilkes Barre': 281,
 'Wenatchee': 282,
 'Salt Lake City': 283,
 'Smyrna': 284,
 'Glendale': 285,
 'Saint Joseph': 286,
 'Rochester': 287,
 'Corpus Christi': 288,
 'Berkeley': 289,
 'Rockville': 290,
 'Peoria': 291,
 'Winter Park': 292,
 'Lake Oswego': 293,
 'Fort Lauderdale': 294,
 'Pflugerville': 295,
 'Bradenton': 296,
 'Upper Darby': 297,
 'Oak Park': 298,
 'Fremont': 299,
 'Bethesda': 300,
 'Waukesha': 301,
 'East Grand Forks': 302,
 'Midland': 303,
 'Plano': 304,
 'Valley Village': 305,
 'Somerset': 306,
 'Honolulu': 307,
 'Fitchburg': 308,
 'Pico Rivera': 309,
 'Santee': 310,
 'Brea': 311,
 'Medford': 312,
 'Billings': 313,
 'Forest Grove': 314,
 'Petersburg': 315,
 'Hasbrouck Heights': 316,
 'Flint': 317,
 'Vancouver': 318,
 'Hayward': 319,
 'Hanover': 320,
 'Wharton': 321,
 'West Hollywood': 322,
 'Carlsbad': 323,
 'New Rochelle': 324,
 'Ridgewood': 325,
 'El Cajon': 326,
 'Fairfax': 327,
 'Kent': 328,
 'Tustin': 329,
 'Upland': 330,
 'Ashland': 331,
 'Saint Paul': 332,
 'Takoma Park': 333,
 'Londonderry': 334,
 'Greeley': 335,
 'Minnetonka': 336,
 'West Linn': 337,
 'Ypsilanti': 338,
 'Lewisville': 339,
 'Sun Prairie': 340,
 'Altamonte Springs': 341,
 'Fort Worth': 342,
 'Greenville': 343,
 'Silverton': 344,
 'Union City': 345,
 'East Lansing': 346,
 'Bennington': 347,
 'Grand Rapids': 348,
 'Grand Forks': 349,
 'Maple Heights': 350,
 'Corsica': 351,
 'New Kensington': 352,
 'Mobile': 353,
 'Euless': 354,
 'Denton': 355,
 'Leonia': 356,
 'Clinton': 357,
 'Norwich': 358,
 'Lubbock': 359,
 'Bothell': 360,
 'North Miami': 361,
 'Lincoln': 362,
 'Baton Rouge': 363,
 'San Luis Obispo': 364,
 'Milford': 365,
 'Hackensack': 366,
 'Lawrence': 367,
 'Kearny': 368,
 'Pawtucket': 369,
 'Brighton': 370,
 'Walla Walla': 371,
 'Lone Tree': 372,
 'Everett': 373,
 'Orange': 374,
 'Ellensburg': 375,
 'Abilene': 376,
 'South Weymouth': 377,
 'Doylestown': 378,
 'Nashua': 379,
 'Ontario': 380,
 'Richardson': 381,
 'Overland Park': 382,
 'Wichita': 383,
 'Groton': 384,
 'O Fallon': 385,
 'Brownsburg': 386,
 'Golden Valley': 387,
 'Urbandale': 388,
 'Oaklyn': 389,
 'Fargo': 390,
 'Silver Spring': 391,
 'Flagstaff': 392,
 'Plymouth': 393,
 'Danbury': 394,
 'Odessa': 395,
 'Davenport': 396,
 'Bismarck': 397,
 'Menomonee Falls': 398,
 'Saginaw': 399,
 'Richmond': 400,
 'Tigard': 401,
 'Beachwood': 402,
 'Norman': 403,
 'East Boston': 404,
 'Longview': 405,
 'Duarte': 406,
 'Chapel Hill': 407,
 'Eden Prairie': 408,
 'Yakima': 409,
 'Beloit': 410,
 'Green Bay': 411,
 'Sugar Land': 412,
 'Eagle River': 413,
 'La Verne': 414,
 'Suwanee': 415,
 'Kissimmee': 416,
 'Moorhead': 417,
 'Redmond': 418,
 'Hermosa Beach': 419,
 'Secane': 420,
 'West Allis': 421,
 'Wheaton': 422,
 'Hartford': 423,
 'Edmond': 424,
 'Prairie Village': 425,
 'Springdale': 426,
 'Lima': 427,
 'Van Buren': 428,
 'Saratoga Springs': 429,
 'Coronado': 430,
 'Stone Mountain': 431,
 'Walnut Creek': 432,
 'Merrimack': 433,
 'Edmonds': 434,
 'Port Orange': 435,
 'Durham': 436,
 'Fort Myers': 437,
 'Bowling Green': 438,
 'Sioux City': 439,
 'Elyria': 440,
 'West Fargo': 441,
 'Euclid': 442,
 'Spokane Valley': 443,
 'Scappoose': 444,
 'Sioux Falls': 445,
 'Cordova': 446,
 'New Braunfels': 447,
 'Corona': 448,
 'Independence': 449,
 'Red Oak': 450,
 'Rahway': 451,
 'Pierre': 452,
 'Carrboro': 453,
 'Windsor': 454,
 'Golden': 455,
 'Storrs': 456,
 'Leander': 457,
 'Westland': 458,
 'Moses Lake': 459,
 'Glens Falls': 460,
 'Coulee Dam': 461,
 'Fenton': 462,
 'Rialto': 463,
 'Ferndale': 464,
 'Camas': 465,
 'Northglenn': 466,
 'Villa Park': 467,
 'Sparks': 468,
 'Mercer Island': 469,
 'Clearwater': 470,
 'Homestead': 471,
 'Tuckerton': 472,
 'Mission': 473,
 'Butner': 474,
 'Sault Sainte Marie': 475,
 'Panorama City': 476,
 'Cherry Hill': 477,
 'Leon Valley': 478,
 'Texarkana': 479,
 'Manassas Park': 480,
 'Moreno Valley': 481,
 'Anderson': 482,
 'Cedar Park': 483,
 'Elkhorn': 484,
 'Highland': 485,
 'Grand Prairie': 486,
 'Bladensburg': 487,
 'Kingsport': 488,
 'Elmwood Park': 489,
 'Rancho Palos Verdes': 490,
 'Cliffside Park': 491,
 'Dover': 492,
 'Westfield': 493,
 'Snohomish': 494,
 'Renton': 495,
 'Somersworth': 496,
 'Wilton Manors': 497,
 'Lake Worth': 498,
 'Verona': 499,
 'Coraopolis': 500,
 'Cheney': 501,
 'Burlington': 502,
 'Charleston': 503,
 'Daytona Beach': 504,
 'West Des Moines': 505,
 'Big Rapids': 506,
 'Hamilton': 507,
 'Marshall': 508,
 'Ruston': 509,
 'Lansing': 510,
 'Essexville': 511,
 'Rockford': 512,
 'Little Rock': 513,
 'Boone': 514,
 'Highland Park': 515,
 'Harlingen': 516,
 'Dayton': 517,
 'El Dorado': 518,
 'Greenbelt': 519,
 'Tuscaloosa': 520,
 'Bentonville': 521,
 'Grand Haven': 522,
 'Grandview': 523,
 'North Salt Lake': 524,
 'Livermore': 525,
 'West Covina': 526,
 'Sidney': 527,
 'Charlestown': 528,
 'Sterling Heights': 529,
 'Reston': 530,
 'Shelby Township': 531,
 'Derwood': 532,
 'Alpine': 533,
 'Jonesboro': 534,
 'Whittier': 535,
 'Rocky Mount': 536,
 'Worcester': 537,
 'Coral Gables': 538,
 'Eagan': 539,
 'North Sioux City': 540,
 'Millburn': 541,
 'Norwalk': 542,
 'Hampton': 543,
 'Canyon Lake': 544,
 'Baytown': 545,
 'Wilmington': 546,
 'Warsaw': 547,
 'Troy': 548,
 'Odenton': 549,
 'Mount Rainier': 550,
 'Waukee': 551,
 'Henrico': 552,
 'Kalamazoo': 553,
 'Florence': 554,
 'Mountain View': 555,
 'Kenmore': 556,
 'Maple Valley': 557,
 'Pompano Beach': 558,
 'Stockton': 559,
 'West Palm Beach': 560,
 'Bettendorf': 561,
 'Leesville': 562,
 'Hales Corners': 563,
 'Live Oak': 564,
 'Blue Springs': 565,
 'Ventura': 566,
 'Randolph': 567,
 'Oceanside': 568,
 'Broadview Heights': 569,
 'Butler': 570,
 'Bedford Heights': 571,
 'Piscataway': 572,
 'Beaverton': 573,
 'Hyde Park': 574,
 'Maple Shade': 575,
 'Grapevine': 576,
 'Sartell': 577,
 'Beaver Dam': 578,
 'Lutherville Timonium': 579,
 'Santa Clarita': 580,
 'Stoughton': 581,
 'Mountlake Terrace': 582,
 'Lutz': 583,
 'Dubuque': 584,
 'Universal City': 585,
 'Plainsboro': 586,
 'Mooresville': 587,
 'Bellmawr': 588,
 'Sunnyvale': 589,
 'Lexington Park': 590,
 'Eatontown': 591,
 'Savoy': 592,
 'Palestine': 593,
 'Hoboken': 594,
 'El Segundo': 595,
 'Martinez': 596,
 'Reseda': 597,
 'Bedford': 598,
 'Parsippany': 599,
 'Brooklyn Center': 600,
 'Hopkins': 601,
 'Raynham': 602,
 'Somerdale': 603,
 'League City': 604,
 'Valdosta': 605,
 'Murray': 606,
 'Slc': 607,
 'Knightdale': 608,
 'Monroeville': 609,
 'Mount Clemens': 610,
 'Logansport': 611,
 'Fairborn': 612,
 'Paducah': 613,
 'Cedar Rapids': 614,
 'Litchfield': 615,
 'Lawrenceville': 616,
 'Piqua': 617,
 'Lakeway': 618,
 'Delafield': 619,
 'Shawnee': 620,
 'Nixa': 621,
 'Humble': 622,
 'Paragould': 623,
 'Meridian': 624,
 'Johnson City': 625,
 'Lithonia': 626,
 'Winston Salem': 627,
 'Edina': 628,
 'Fullerton': 629,
 'Hawthorne': 630,
 'Maitland': 631,
 'West Saint Paul': 632,
 'Merriam': 633,
 'Cleveland Heights': 634,
 'Blanco': 635,
 'Brookfield': 636,
 'Spring': 637,
 'Katy': 638,
 'Cleburne': 639,
 'Mishawaka': 640,
 'Milledgeville': 641,
 'Casar': 642,
 'Bryan': 643,
 'Fond Du Lac': 644,
 'Northbrook': 645,
 'Pearland': 646,
 'Kennesaw': 647,
 'Federal Way': 648,
 'Chesapeake': 649,
 'Gulfport': 650,
 'Maumee': 651,
 'Port Orchard': 652,
 'Waterloo': 653,
 'Tomball': 654,
 'Herndon': 655,
 'Mount Laurel': 656,
 'Bainbridge Island': 657,
 'Lynchburg': 658,
 'Frederick': 659,
 'Montebello': 660,
 'Princeton Junction': 661,
 'San Bernardino': 662,
 'Marysville': 663,
 'Atlantic City': 664,
 'Virginia Beach': 665,
 'Wasilla': 666,
 'Grimes': 667,
 'West Bend': 668,
 'Manitowoc': 669,
 'Rapid City': 670,
 'South Dartmouth': 671,
 'Yukon': 672,
 'Bakersfield': 673,
 'Duluth': 674,
 'Schenectady': 675,
 'Bay Saint Louis': 676,
 'Willoughby': 677,
 'Ansonia': 678,
 'Battle Creek': 679,
 'Peru': 680,
 'Church Hill': 681,
 'Ozark': 682,
 'Fountain Valley': 683,
 'Sanford': 684,
 'Naperville': 685,
 'Topeka': 686,
 'Temple Hills': 687,
 'Carbon Cliff': 688,
 'Vernon': 689,
 'Van Nuys': 690,
 'Dickinson': 691,
 'Presto': 692,
 'College Park': 693,
 'Belmont': 694,
 'Newton': 695,
 'Mansfield': 696,
 'Oregon City': 697,
 'De Soto': 698,
 'Youngsville': 699,
 'Nacogdoches': 700,
 'White Plains': 701,
 'Lyndhurst': 702,
 'Doral': 703,
 'Mayville': 704,
 'Brockport': 705,
 'Lebanon': 706,
 'Santa Rosa': 707,
 'Apex': 708,
 'Santa Barbara': 709,
 'Playa Del Rey': 710,
 'Santa Clara': 711,
 'Revere': 712,
 'Westwood': 713,
 'Sherman Oaks': 714,
 'Artesia': 715,
 'Linden': 716,
 'Woburn': 717,
 'Bridgewater': 718,
 'Larchmont': 719,
 'Sunland': 720,
 'Glastonbury': 721,
 'Crofton': 722,
 'Aloha': 723,
 'Hemet': 724,
 'Raymond': 725,
 'Park Ridge': 726,
 'Garland': 727,
 'University Place': 728,
 'Berkley': 729,
 'Savannah': 730,
 'Carrollton': 731,
 'Kingwood': 732,
 'Fort Pierce': 733,
 'New Port Richey': 734,
 'Saint Francis': 735,
 'Bostic': 736,
 'Kokomo': 737,
 'Slidell': 738,
 'Metairie': 739,
 'Winsted': 740,
 'Mckeesport': 741,
 'Owasso': 742,
 'Glenshaw': 743,
 'Beaumont': 744,
 'Harrison': 745,
 'San Ramon': 746,
 'Cary': 747,
 'Bath': 748,
 'Fort Wayne': 749,
 'Canton': 750,
 'Clarkston': 751,
 'New York': 752,
 'Newport Beach': 753,
 'Ellicott City': 754,
 'Fishers': 755,
 'Selma': 756,
 'Sterling': 757,
 'Rancho Cucamonga': 758,
 'Kenosha': 759,
 'Johnston': 760,
 'Norcross': 761,
 'Mankato': 762,
 'East Pittsburgh': 763,
 'West Haven': 764,
 'Lufkin': 765,
 'Issaquah': 766,
 'Santa Fe': 767,
 'Louisville': 768,
 'Creedmoor': 769,
 'Mebane': 770,
 'Sandy': 771,
 'Middletown': 772,
 'South Saint Paul': 773,
 'Menifee': 774,
 'Holly Springs': 775,
 'Greenfield': 776,
 'Yonkers': 777,
 'Fort Washington': 778,
 'Ballwin': 779,
 'Cutler Ridge': 780,
 'Midlothian': 781,
 'Plant City': 782,
 'Midvale': 783,
 'Sammamish': 784,
 'Farmers Branch': 785,
 'Dalton': 786,
 'Stoneham': 787,
 'North Bergen': 788,
 'Short Hills': 789,
 'Cypress': 790,
 'Placentia': 791,
 'Lake Forest Park': 792,
 'Olathe': 793,
 'Washington Township': 794,
 'Nevada': 795,
 'Corunna': 796,
 'Waynesville': 797,
 'Canby': 798,
 'Mahtomedi': 799,
 'Mason': 800,
 'Ingleside': 801,
 'North Richland Hills': 802,
 'Saint Cloud': 803,
 'San Mateo': 804,
 'Oxnard': 805,
 'Landover': 806,
 'Racine': 807,
 'Mount Holly': 808,
 'Cherryville': 809,
 'Galveston': 810,
 'Newport': 811,
 'Plainfield': 812,
 'Taylorsville': 813,
 'Crystal': 814,
 'Azle': 815,
 'Wichita Falls': 816,
 'Kankakee': 817,
 'Randallstown': 818,
 'Wamego': 819,
 'Brook Park': 820,
 'Adelphi': 821,
 'Novi': 822,
 'New Orleans': 823,
 'Keene': 824,
 'Coventry': 825,
 'Vadnais Heights': 826,
 'Janesville': 827,
 'Princeton': 828,
 'Pennsauken': 829,
 'West Valley City': 830,
 'New Brighton': 831,
 'Mililani': 832,
 'Rexburg': 833,
 'Port Chester': 834,
 'Downey': 835,
 'Trenton': 836,
 'Zachary': 837,
 'Elkridge': 838,
 'Port Richey': 839,
 'Chubbuck': 840,
 'Rosemead': 841,
 'Chelsea': 842,
 'Stanton': 843,
 'Cumming': 844,
 'Blacksburg': 845,
 'Garden Grove': 846,
 'Westbrook': 847,
 'District Heights': 848,
 'West New York': 849,
 'Towson': 850,
 'Porterville': 851,
 'Vacaville': 852,
 'Canoga Park': 853,
 'East Hartford': 854,
 'Lanham': 855,
 'Frisco': 856,
 'Cockeysville': 857,
 'Wakefield': 858,
 'Pleasanton': 859,
 'Broadway': 860,
 'Lenexa': 861,
 'Bossier City': 862,
 'Bolingbrook': 863,
 'Covington': 864,
 'Media': 865,
 'Athens': 866,
 'Vidor': 867,
 'Findlay': 868,
 'North Royalton': 869,
 'West Orange': 870,
 'Hot Springs': 871,
 'Middleton': 872,
 'Elkhart': 873,
 'Huntington Beach': 874,
 'Inglewood': 875,
 'Poulsbo': 876,
 'Buena Park': 877,
 'La Habra': 878,
 'Happy Valley': 879,
 'Blaine': 880,
 'Riverdale': 881,
 'Austell': 882,
 'New Berlin': 883,
 'Royal Oak': 884,
 'Terrell': 885,
 'Woodbury': 886,
 'El Paso': 887,
 'Dike': 888,
 'Shawnee Mission': 889,
 'Pontiac': 890,
 'Pottstown': 891,
 'Lincoln Park': 892,
 'Jackson': 893,
 'Rogersville': 894,
 'Winter Garden': 895,
 'Hammond': 896,
 'Gonzales': 897,
 'Neenah': 898,
 'Wayne': 899,
 'Roselle Park': 900,
 'Collingswood': 901,
 'Camarillo': 902,
 'Saint Marys': 903,
 'Leawood': 904,
 'New Bedford': 905,
 'Apopka': 906,
 'Fredericksburg': 907,
 'Burnsville': 908,
 'Missouri City': 909,
 'Miami Beach': 910,
 'Montgomery': 911,
 'Alpharetta': 912,
 'Watertown': 913,
 'East Rutherford': 914,
 'Clermont': 915,
 'Hartland': 916,
 'Warren': 917,
 'Mundelein': 918,
 'Harrisburg': 919,
 'Allston': 920,
 'Flanders': 921,
 'Edgewater': 922,
 'Michigan City': 923,
 'Lakeville': 924,
 'New Carlisle': 925,
 'Palm Harbor': 926,
 'Elizabeth': 927,
 'Woodstock': 928,
 'Goffstown': 929,
 'North Las Vegas': 930,
 'Rogers': 931,
 'High Point': 932,
 'Grand Ledge': 933,
 'Stow': 934,
 'Hampstead': 935,
 'Orland Park': 936,
 'Pewaukee': 937,
 'Macon': 938,
 'Montclair': 939,
 'Budd Lake': 940,
 'Grandview Heights': 941,
 'Troutdale': 942,
 'Mandan': 943,
 'Malden': 944,
 'Whitefish Bay': 945,
 'Franklin': 946,
 'Medina': 947,
 'Hilliard': 948,
 'Harrison Township': 949,
 'Wickliffe': 950,
 'Shenandoah': 951,
 'Lake Elsinore': 952,
 'Campbell': 953,
 'Folsom': 954,
 'Henderson': 955,
 'San Juan Capistrano': 956,
 'Bensenville': 957,
 'Beverly Hills': 958,
 'Puyallup': 959,
 'Lake Charles': 960,
 'Vandalia': 961,
 'Clementon': 962,
 'Giddings': 963,
 'Mendota Heights': 964,
 'Inver Grove Heights': 965,
 'Rolla': 966,
 'Cassopolis': 967,
 'Needham Heights': 968,
 'Hollywood': 969,
 'Fort Lee': 970,
 'Bowie': 971,
 'Windermere': 972,
 'Arcadia': 973,
 'Neptune City': 974,
 'Bryn Mawr': 975,
 'Winooski': 976,
 'Spring Lake': 977,
 'Rotterdam': 978,
 'Taunton': 979,
 'Suitland': 980,
 'Olympia': 981,
 'Homewood': 982,
 'Newark': 983,
 'Reisterstown': 984,
 'Edwardsville': 985,
 'Vermilion': 986,
 'Waukegan': 987,
 'Pueblo': 988,
 'Indianola': 989,
 'Dexter': 990,
 'Broken Arrow': 991,
 'Altoona': 992,
 'Meeker': 993,
 'Morrisville': 994,
 'Carmel': 995,
 'Dumas': 996,
 'Fulton': 997,
 'Annapolis': 998,
 'Jamestown': 999,
 ...}

In [34]:
df['city_num'] = df['cityname'].replace(rep_city_vals)

In [35]:
df.head(5)

,amenities,bathrooms,bedrooms,fee,price,square_feet,cityname,state,time,state_num,city_num
0,None,1.0,0.0,No,0.011281,0.000000,Washington,DC,2019-12-26 11:23:35,10,13
1,None,1.0,1.0,No,0.004302,0.000125,Evansville,IN,2019-12-22 12:17:43,1,1
2,None,1.0,0.0,No,0.022753,0.000150,Arlington,VA,2019-12-26 11:23:30,2,2
3,None,1.0,0.0,No,0.013862,0.000376,Seattle,WA,2019-12-18 11:15:43,3,3
4,None,1.0,0.0,No,0.013002,0.000602,Arlington,VA,2019-12-26 11:23:21,2,2

In [36]:
df['fee'].unique()

array(['No'], dtype=object)

In [37]:
final_cleaned = df.drop(columns=['fee'])
final_cleaned

,amenities,bathrooms,bedrooms,price,square_feet,cityname,state,time,state_num,city_num
0,None,1.0,0.0,0.011281,0.000000,Washington,DC,2019-12-26 11:23:35,10,13
1,None,1.0,1.0,0.004302,0.000125,Evansville,IN,2019-12-22 12:17:43,1,1
2,None,1.0,0.0,0.022753,0.000150,Arlington,VA,2019-12-26 11:23:30,2,2
3,None,1.0,0.0,0.013862,0.000376,Seattle,WA,2019-12-18 11:15:43,3,3
4,None,1.0,0.0,0.013002,0.000602,Arlington,VA,2019-12-26 11:23:21,2,2
...,...,...,...,...,...,...,...,...,...,...
9995,None,4.0,5.0,0.110899,0.155367,Edina,MN,2019-11-30 11:22:55,26,628
9996,None,8.0,6.0,0.474187,0.215920,Montecito,CA,2019-12-26 11:40:19,5,1534
9997,None,8.5,6.0,0.206501,0.281135,Potomac,MD,2019-12-26 11:42:40,12,80
9998,"[Basketball, Cable or Satellite, Doorman, Hot ...",1.0,1.0,0.087763,1.000000,New York,NY,2019-12-26 12:09:46,4,752
9999,"[Gym, Patio/Deck]",1.0,1.0,0.015468,0.019524,Lawrenceville,GA,2019-12-26 12:09:01,8,616