In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

import warnings
warnings.filterwarnings("ignore")

In [2]:
# uncomment if using colab
# ! git clone https://github.com/Daniel-Tran3/CSE_151A_Project.git

In [3]:
original_df = pd.read_csv('apartments_for_rent_classified_10K_utf.csv')

# uncomment the following if using colab
# original_df = pd.read_csv('CSE_151A_Project/apartments_for_rent_classified_10K_utf.csv')

In [4]:
df = original_df[["amenities", "bathrooms", "bedrooms", "fee", "price", "price_type", "square_feet", "cityname", "state", "time"]]

In [5]:
df.head(5)

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
0,NaN,NaN,0.0,No,790,Monthly,101,Washington,DC,1577359415
1,NaN,NaN,1.0,No,425,Monthly,106,Evansville,IN,1577017063
2,NaN,1.0,0.0,No,1390,Monthly,107,Arlington,VA,1577359410
3,NaN,1.0,0.0,No,925,Monthly,116,Seattle,WA,1576667743
4,NaN,NaN,0.0,No,880,Monthly,125,Arlington,VA,1577359401

In [6]:
df.isna().mean()

amenities      0.3549
bathrooms      0.0034
bedrooms       0.0007
fee            0.0000
price          0.0000
price_type     0.0000
square_feet    0.0000
cityname       0.0077
state          0.0077
time           0.0000
dtype: float64

## Convert timestamp to datetime objects

In [7]:
df['time'] = pd.to_datetime(df['time'], unit='s')

In [8]:
df.head(2)

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
0,NaN,NaN,0.0,No,790,Monthly,101,Washington,DC,2019-12-26 11:23:35
1,NaN,NaN,1.0,No,425,Monthly,106,Evansville,IN,2019-12-22 12:17:43

## Normalizing Price and Square Feet

Convert any prices measured in Weeks to Months by converting to price per day then price per year then price per month (roughly 4.348 multiplier).

There is one abnormally high price with 'weekly' price_type. The price for 'week' is 1560, and digging into the dataset, we found that it is a duplicate of index 15. The listing is for the same place except it's on another listing website. This duplicate will be dropped in favor of the other one.

There is also one record with 'Monthly|Weekely' price_type with a price of 275.0, and the price is likely to be on a weekly basis.

In [9]:
df[df['price'] == 1560][:2]

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
15,"AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,No,1560,Weekly,200,New Bern,NC,2019-12-17 21:27:56
16,"AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,No,1560,Monthly,200,New Bern,NC,2019-12-15 10:37:53

In [10]:
# Drop the wrong record?
# df = df.drop([16,17])

df = df.drop([15,16])

In [11]:
df[df['price_type'] == 'Monthly|Weekly']

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
235,"Cable or Satellite,Pool,Refrigerator,Storage,TV",NaN,NaN,No,275,Monthly|Weekly,300,Lakeland,FL,2019-11-27 21:43:20

In [52]:
# DO NOT NORMALIZE IT WILL BECOME NON-INTERPRETABLE
# for i in df.index:
#   if (df['price_type'][i] == "Weekly") or (df['price_type'][i] == "Monthly/Weekly"):
#     df.loc[i, 'price'] = df['price'][i] / 7 * 365.25 / 12

# df['price'] = (df['price'] - df['price'].min()) / (df['price'].max() - df['price'].min())

In [13]:
print(df['price'].min())
print(df['price'].max())

200
52500

Since we have standardized the units of the price, we can drop the price_type column.

In [14]:
df = df.drop(columns=['price_type'])

## Normalize the square_feet using Min Max method

In [15]:
df['square_feet'] = (df['square_feet'] - df['square_feet'].min()) / (df['square_feet'].max() - df['square_feet'].min())

In [16]:
print(df['square_feet'].min())
print(df['square_feet'].max())

0.0
1.0

## Impute NaN values using median

In [17]:
df['bathrooms'] = df['bathrooms'].replace({np.nan: df['bathrooms'].median()})

In [18]:
df['bedrooms'] = df['bedrooms'].replace({np.nan: df['bedrooms'].median()})

## Preprocessing on the amenities

In [19]:
df['amenities'] = np.array(df['amenities'].str.strip().str.split(","))

In [20]:
df

,amenities,bathrooms,bedrooms,fee,price,square_feet,cityname,state,time
0,NaN,1.0,0.0,No,790,0.000000,Washington,DC,2019-12-26 11:23:35
1,NaN,1.0,1.0,No,425,0.000125,Evansville,IN,2019-12-22 12:17:43
2,NaN,1.0,0.0,No,1390,0.000150,Arlington,VA,2019-12-26 11:23:30
3,NaN,1.0,0.0,No,925,0.000376,Seattle,WA,2019-12-18 11:15:43
4,NaN,1.0,0.0,No,880,0.000602,Arlington,VA,2019-12-26 11:23:21
...,...,...,...,...,...,...,...,...,...
9995,NaN,4.0,5.0,No,6000,0.155367,Edina,MN,2019-11-30 11:22:55
9996,NaN,8.0,6.0,No,25000,0.215920,Montecito,CA,2019-12-26 11:40:19
9997,NaN,8.5,6.0,No,11000,0.281135,Potomac,MD,2019-12-26 11:42:40
9998,"[Basketball, Cable or Satellite, Doorman, Hot ...",1.0,1.0,No,4790,1.000000,New York,NY,2019-12-26 12:09:46
9999,"[Gym, Patio/Deck]",1.0,1.0,No,1009,0.019524,Lawrenceville,GA,2019-12-26 12:09:01

In [21]:
df['amenities'] = df['amenities'].replace({np.nan: 'None'})

In [22]:
df.head(5)

,amenities,bathrooms,bedrooms,fee,price,square_feet,cityname,state,time
0,None,1.0,0.0,No,790,0.000000,Washington,DC,2019-12-26 11:23:35
1,None,1.0,1.0,No,425,0.000125,Evansville,IN,2019-12-22 12:17:43
2,None,1.0,0.0,No,1390,0.000150,Arlington,VA,2019-12-26 11:23:30
3,None,1.0,0.0,No,925,0.000376,Seattle,WA,2019-12-18 11:15:43
4,None,1.0,0.0,No,880,0.000602,Arlington,VA,2019-12-26 11:23:21

## One-hot Encoding States and City Names
States and city names are nominal categorical features. To deal with this, we will be creating one-hot encoded fields to reflect each data points location.

In [23]:
all_states = df['state'].unique()
all_states

array(['DC', 'IN', 'VA', 'WA', 'NY', 'CA', 'AZ', 'TX', 'GA', 'NC', 'FL',
       nan, 'AL', 'MD', 'CO', 'NM', 'IL', 'TN', 'AK', 'MA', 'NJ', 'OR',
       'DE', 'PA', 'IA', 'SC', 'MN', 'MI', 'KY', 'WI', 'OH', 'CT', 'RI',
       'NV', 'UT', 'MO', 'OK', 'NH', 'NE', 'LA', 'ND', 'AR', 'KS', 'ID',
       'HI', 'MT', 'VT', 'SD', 'WV', 'MS', 'ME', 'WY'], dtype=object)

In [24]:
display(df['state'].value_counts())

display(df['cityname'].value_counts())

TX    1737
CA     955
WA     519
NC     436
MD     424
NJ     383
GA     372
FL     339
OH     321
CO     318
WI     302
IL     282
MO     239
IN     239
MN     221
VA     205
OR     197
PA     183
IA     179
OK     178
MI     176
MA     167
AZ     126
NV     121
ND     113
NE     105
CT      98
TN      92
UT      84
KS      83
DC      80
SC      77
NY      71
NH      70
SD      66
LA      66
AL      56
AR      56
AK      44
KY      40
ID      21
VT      16
NM      14
HI      12
RI      11
MS       9
MT       7
DE       5
WV       3
ME       2
WY       1
Name: state, dtype: int64

Austin           523
Dallas           216
Houston          186
San Antonio      182
Los Angeles      165
                ...
Keizer             1
Keyser             1
Pompano Beach      1
Kaysville          1
Bella Vista        1
Name: cityname, Length: 1573, dtype: int64

In [25]:
df = pd.get_dummies(df, columns=['state', 'cityname'], dummy_na=True)

In [26]:
df.head()

,amenities,bathrooms,bedrooms,fee,price,square_feet,time,state_AK,state_AL,state_AR,...,cityname_York,cityname_Yorktown,cityname_Yorkville,cityname_Youngstown,cityname_Youngsville,cityname_Ypsilanti,cityname_Yuba City,cityname_Yukon,cityname_Zachary,cityname_nan
0,None,1.0,0.0,No,790,0.000000,2019-12-26 11:23:35,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,None,1.0,1.0,No,425,0.000125,2019-12-22 12:17:43,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,None,1.0,0.0,No,1390,0.000150,2019-12-26 11:23:30,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,None,1.0,0.0,No,925,0.000376,2019-12-18 11:15:43,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,None,1.0,0.0,No,880,0.000602,2019-12-26 11:23:21,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
# extract unknown cities and states
unknown_city = df[df['cityname_nan'] == 1]
unknown_state = df[df['state_nan'] == 1]
unknown_state

# find if there is intersection between unknown cities and states
print(unknown_city.shape[0])
print(unknown_state.shape[0])
len(unknown_city.index.intersection(unknown_state.index))

77
77

77

In [28]:
df['fee'].unique()

array(['No'], dtype=object)

In [29]:
final_cleaned = df.drop(columns=['fee'])
final_cleaned

,amenities,bathrooms,bedrooms,price,square_feet,time,state_AK,state_AL,state_AR,state_AZ,...,cityname_York,cityname_Yorktown,cityname_Yorkville,cityname_Youngstown,cityname_Youngsville,cityname_Ypsilanti,cityname_Yuba City,cityname_Yukon,cityname_Zachary,cityname_nan
0,None,1.0,0.0,790,0.000000,2019-12-26 11:23:35,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,None,1.0,1.0,425,0.000125,2019-12-22 12:17:43,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,None,1.0,0.0,1390,0.000150,2019-12-26 11:23:30,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,None,1.0,0.0,925,0.000376,2019-12-18 11:15:43,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,None,1.0,0.0,880,0.000602,2019-12-26 11:23:21,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,None,4.0,5.0,6000,0.155367,2019-11-30 11:22:55,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,None,8.0,6.0,25000,0.215920,2019-12-26 11:40:19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,None,8.5,6.0,11000,0.281135,2019-12-26 11:42:40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,"[Basketball, Cable or Satellite, Doorman, Hot ...",1.0,1.0,4790,1.000000,2019-12-26 12:09:46,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,"[Gym, Patio/Deck]",1.0,1.0,1009,0.019524,2019-12-26 12:09:01,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## One hot encoding amenities

In [30]:
all_amenities = (final_cleaned['amenities'].explode()).unique()[1:]
final_cleaned = final_cleaned.reset_index(drop=True)
amenities = pd.DataFrame()

for a in all_amenities:
    amenities[a] = final_cleaned['amenities'].apply(lambda x: 1 if a in x else 0)
amenities.head()

,Dishwasher,Elevator,Patio/Deck,Pool,Storage,Refrigerator,Cable or Satellite,Clubhouse,Internet Access,Parking,...,Gym,TV,Hot Tub,Tennis,Wood Floors,View,Alarm,Doorman,Luxury,Golf
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
final_cleaned = pd.concat([final_cleaned, amenities], axis=1).drop(columns='amenities')
final_cleaned.head()

,bathrooms,bedrooms,price,square_feet,time,state_AK,state_AL,state_AR,state_AZ,state_CA,...,Gym,TV,Hot Tub,Tennis,Wood Floors,View,Alarm,Doorman,Luxury,Golf
0,1.0,0.0,790,0.000000,2019-12-26 11:23:35,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,1.0,425,0.000125,2019-12-22 12:17:43,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,0.0,1390,0.000150,2019-12-26 11:23:30,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,0.0,925,0.000376,2019-12-18 11:15:43,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,0.0,880,0.000602,2019-12-26 11:23:21,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Model 1

In [71]:
from keras.optimizers import SGD
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

# drop time since machine cant train on DateTime type
X_train, X_test, y_train, y_test = train_test_split(final_cleaned.drop(columns=['price', 'time']), final_cleaned.price, test_size = 0.2, random_state = 42)

def buildHPmodel(hp):
  model = Sequential ([
      Dense(32, activation = 'relu', input_dim = X_train.shape[1]),
      Dense(
          units = hp.Int("units", min_value = 32, max_value = 512, step = 32),
          activation = hp.Choice("activation", ["relu", "tanh"]),
      ),
      Dense(1, activation='relu')
  ])
  learning_rate = hp.Float("lr", min_value = 1e-4, max_value = 1e-2, sampling = "log")
  model.compile(optimizer = SGD(learning_rate = learning_rate), loss = 'mae', metrics = ['mse','mae'])
  return model

In [54]:
y_train

7477    1450
1906     925
4579    1068
9699    2000
703      950
        ...
1812     915
7440    3000
1340    1565
6072    1770
8380    1259
Name: price, Length: 5998, dtype: int64

In [64]:
# # test regular
# model = Sequential()

# # Input layer (matches the number of features in your data)
# model.add(Dense(64, input_dim=X_train.shape[1], activation='relu')) 

# # Hidden layers (you can add more with different units)
# model.add(Dense(64, activation='relu'))  

# # Output layer (units based on the number of classes)
# model.add(Dense(1, activation='relu')) 

# model.compile(optimizer='adam', loss='mse', metrics=['mae','mse'])
# model.fit(X_train,y_train, epochs=10)
# loss, mae, mse = model.evaluate(X_test, y_test)
# print('MAE:', mae)
# print('MSE:', mse)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 2839277.7500 - mae: 1233.0349 - mse: 2839277.7500
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 1226370.2500 - mae: 574.1104 - mse: 1226370.2500
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 949634.0625 - mae: 464.3861 - mse: 949634.0625
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 852481.2500 - mae: 421.4042 - mse: 852481.2500
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 794831.7500 - mae: 394.1092 - mse: 794831.7500
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 754763.2500 - mae: 375.4368 - mse: 754763.2500
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 726144.2500 - mae: 359.0388 - mse: 726144.2500
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 707673.6250 - mae: 350.7418 - mse: 707673.6250
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 693178.3125 - mae: 343.4903 - mse: 693178.3125
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 681990.2500 - mae: 339.9518 - mse: 681990.2500
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 672827.3125 - mae: 331.4149 - mse: 672827.3125
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 664977.6875 - mae: 329.6250 - mse: 664977.6875
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 657571.1250 - mae: 326.0605 - mse: 657571.1250
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 652184.1250 - mae: 321.8965 - mse: 652184.1250
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 645586.4375 - mae: 320.1294 - mse: 645586.4375
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 640173.5625 - mae: 314.4774 - mse: 640173.5625
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 636153.5625 - mae: 315.6667 - mse: 636153.5625
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 630371.8125 - mae: 309.2456 - mse: 630371.8125
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 625277.8125 - mae: 309.8904 - mse: 625277.8125
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 620531.6875 - mae: 306.3055 - mse: 620531.6875
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 617330.6875 - mae: 308.2314 - mse: 617330.6875
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 612108.0000 - mae: 303.0256 - mse: 612108.0000
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 608800.3125 - mae: 301.4871 - mse: 608800.3125
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 605027.7500 - mae: 299.4227 - mse: 605027.7500
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 600476.7500 - mae: 299.9447 - mse: 600476.7500
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 596599.1250 - mae: 295.9283 - mse: 596599.1250
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 592564.2500 - mae: 295.1499 - mse: 592564.2500
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 589505.1875 - mae: 293.1317 - mse: 589505.1875
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 585583.1875 - mae: 292.0569 - mse: 585583.1875
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 582203.4375 - mae: 290.4385 - mse: 582203.4375
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 578112.9375 - mae: 288.6787 - mse: 578112.9375
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 575142.8750 - mae: 289.1849 - mse: 575142.8750
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 571422.6875 - mae: 284.8119 - mse: 571422.6875
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 568865.7500 - mae: 285.2194 - mse: 568865.7500
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 565059.0625 - mae: 282.3105 - mse: 565059.0625
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 561545.5000 - mae: 283.1858 - mse: 561545.5000
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 558824.3750 - mae: 280.4392 - mse: 558824.3750
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 554414.5625 - mae: 277.7984 - mse: 554414.5625
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 550809.3750 - mae: 277.1118 - mse: 550809.3750
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 547764.0000 - mae: 273.2805 - mse: 547764.0000
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 545522.6250 - mae: 275.5411 - mse: 545522.6250
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 540942.1250 - mae: 273.8398 - mse: 540942.1250
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 538052.3750 - mae: 270.4964 - mse: 538052.3750
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 534704.6250 - mae: 271.1526 - mse: 534704.6250
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 531445.8750 - mae: 268.8029 - mse: 531445.8750
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 528600.7500 - mae: 266.6792 - mse: 528600.7500
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 525746.0000 - mae: 266.2523 - mse: 525746.0000
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 521695.2812 - mae: 265.2021 - mse: 521695.2812
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 519188.0312 - mae: 267.1472 - mse: 519188.0312
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 515336.0312 - mae: 261.7828 - mse: 515336.0312
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 512702.2812 - mae: 260.3793 - mse: 512702.2812
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 509790.6562 - mae: 258.2467 - mse: 509790.6562
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 506211.5312 - mae: 257.3939 - mse: 506211.5312
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 503364.5312 - mae: 258.6772 - mse: 503364.5312
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 500403.6562 - mae: 257.8593 - mse: 500403.6562
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 496775.1250 - mae: 255.5140 - mse: 496775.1250
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 493176.8125 - mae: 254.9262 - mse: 493176.8125
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 490083.5312 - mae: 250.7888 - mse: 490083.5312
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 487437.1250 - mae: 250.9594 - mse: 487437.1250
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 484557.1250 - mae: 252.4337 - mse: 484557.1250
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 480993.4062 - mae: 250.4429 - mse: 480993.4062
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 478562.0312 - mae: 249.7642 - mse: 478562.0312
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 475054.0000 - mae: 245.7870 - mse: 475054.0312
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 472695.5000 - mae: 247.6716 - mse: 472695.5000
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 469051.6562 - mae: 246.8973 - mse: 469051.6562
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 465808.3750 - mae: 246.1072 - mse: 465808.3750
Epoch 67/100

250/250 [==============================] - 0s 1ms/step - loss: 462474.0312 - mae: 242.8760 - mse: 462474.0312
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 460433.9062 - mae: 243.4314 - mse: 460433.9062
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 456379.1562 - mae: 239.5014 - mse: 456379.1562
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 452262.0312 - mae: 239.2789 - mse: 452262.0312
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 450890.4375 - mae: 242.8362 - mse: 450890.4375
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 447539.9688 - mae: 241.1590 - mse: 447539.9688
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 444021.9688 - mae: 236.4483 - mse: 444021.9688
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 440107.8125 - mae: 237.3022 - mse: 440107.8125
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 438029.4375 - mae: 239.3475 - mse: 438029.4375
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 435115.6250 - mae: 235.6743 - mse: 435115.6250
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 433148.0312 - mae: 235.7341 - mse: 433148.0312
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 428566.7188 - mae: 234.9722 - mse: 428566.7188
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 425432.3438 - mae: 233.4454 - mse: 425432.3438
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 422363.7812 - mae: 233.3956 - mse: 422363.7812
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 419313.7812 - mae: 231.0849 - mse: 419313.7812
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 416035.7500 - mae: 231.0181 - mse: 416035.7500
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 412569.5938 - mae: 229.0402 - mse: 412569.5938
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 410122.8438 - mae: 233.9577 - mse: 410122.8438
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 407172.1875 - mae: 230.2753 - mse: 407172.1875
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 404442.3750 - mae: 229.5033 - mse: 404442.3750
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 400405.9688 - mae: 227.0101 - mse: 400405.9688
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 397159.5000 - mae: 229.3749 - mse: 397159.5000
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 393661.4375 - mae: 227.8421 - mse: 393661.4375
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 391522.8750 - mae: 227.5221 - mse: 391522.8750
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 388491.4688 - mae: 224.4463 - mse: 388491.4688
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 385289.7500 - mae: 223.6306 - mse: 385289.7500
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 381694.2812 - mae: 222.3165 - mse: 381694.2812
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 378919.9375 - mae: 223.3904 - mse: 378919.9375
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 375601.0625 - mae: 223.2073 - mse: 375601.0625
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 372426.2188 - mae: 221.4342 - mse: 372426.2188
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 369485.0938 - mae: 222.2708 - mse: 369485.0938
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 366397.6875 - mae: 220.8280 - mse: 366397.6875
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 364086.2812 - mae: 223.3428 - mse: 364086.2812
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 359589.4062 - mae: 218.7597 - mse: 359589.4062
63/63 [==============================] - 0s 1ms/step - loss: 405135.3125 - mae: 352.3131 - mse: 405135.3125
MAE: 352.3131103515625
MSE: 405135.3125

In [56]:
# pip install keras_tuner

In [72]:
import keras_tuner

In [73]:
hp = keras_tuner.HyperParameters()

In [74]:
# if changing any model parameters such as layers, activation function.
# plz remove the file "untitled_project/tuner0.json"
# otherwise, it will reload from the tuner config before modification.
tuner = keras_tuner.GridSearch(
    hypermodel = buildHPmodel,
    objective = "val_mae",
    max_trials = 20,
    seed = 15,
    executions_per_trial = 5,
    tune_new_entries = True,
    allow_new_entries = True,
    max_consecutive_failed_trials = 3
)

In [75]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, random_state = 0)

In [76]:
tuner.search(X_train.astype('float'), y_train, epochs = 2, validation_data = (X_val, y_val))

Trial 20 Complete [00h 00m 08s]
val_mse: 4704368.5

Best val_mse So Far: 2001164.15
Total elapsed time: 00h 02m 32s

In [ ]:
tuner.results_summary()

Conclusions:

ReLu is by far the best activation function for our task, which make sense since there are linear relationships in the data.

# Next Models: Linear Regression and Gradient Boosting Machines