In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

import warnings
warnings.filterwarnings("ignore")

In [2]:
# uncomment if using colab
# ! git clone https://github.com/Daniel-Tran3/CSE_151A_Project.git

In [3]:
original_df = pd.read_csv('apartments_for_rent_classified_10K_utf.csv')

# uncomment the following if using colab
# original_df = pd.read_csv('CSE_151A_Project/apartments_for_rent_classified_10K_utf.csv')

In [4]:
df = original_df[["amenities", "bathrooms", "bedrooms", "fee", "price", "price_type", "square_feet", "cityname", "state", "time"]]

In [5]:
df.head(5)

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
0,NaN,NaN,0.0,No,790,Monthly,101,Washington,DC,1577359415
1,NaN,NaN,1.0,No,425,Monthly,106,Evansville,IN,1577017063
2,NaN,1.0,0.0,No,1390,Monthly,107,Arlington,VA,1577359410
3,NaN,1.0,0.0,No,925,Monthly,116,Seattle,WA,1576667743
4,NaN,NaN,0.0,No,880,Monthly,125,Arlington,VA,1577359401

In [6]:
df.isna().mean()

amenities      0.3549
bathrooms      0.0034
bedrooms       0.0007
fee            0.0000
price          0.0000
price_type     0.0000
square_feet    0.0000
cityname       0.0077
state          0.0077
time           0.0000
dtype: float64

## Convert timestamp to datetime objects

In [7]:
df['time'] = pd.to_datetime(df['time'], unit='s')

In [8]:
df.head(2)

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
0,NaN,NaN,0.0,No,790,Monthly,101,Washington,DC,2019-12-26 11:23:35
1,NaN,NaN,1.0,No,425,Monthly,106,Evansville,IN,2019-12-22 12:17:43

## Normalizing Price and Square Feet

Convert any prices measured in Weeks to Months by converting to price per day then price per year then price per month (roughly 4.348 multiplier).

There is one abnormally high price with 'weekly' price_type. The price for 'week' is 1560, and digging into the dataset, we found that it is a duplicate of index 15. The listing is for the same place except it's on another listing website. This duplicate will be dropped in favor of the other one.

There is also one record with 'Monthly|Weekely' price_type with a price of 275.0, and the price is likely to be on a weekly basis.

In [9]:
df[df['price'] == 1560][:2]

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
15,"AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,No,1560,Weekly,200,New Bern,NC,2019-12-17 21:27:56
16,"AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,No,1560,Monthly,200,New Bern,NC,2019-12-15 10:37:53

In [10]:
# Drop the wrong record?
# df = df.drop([16,17])

df = df.drop([15,16])

In [11]:
df[df['price_type'] == 'Monthly|Weekly']

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
235,"Cable or Satellite,Pool,Refrigerator,Storage,TV",NaN,NaN,No,275,Monthly|Weekly,300,Lakeland,FL,2019-11-27 21:43:20

In [52]:
# DO NOT NORMALIZE IT WILL BECOME NON-INTERPRETABLE
# for i in df.index:
#   if (df['price_type'][i] == "Weekly") or (df['price_type'][i] == "Monthly/Weekly"):
#     df.loc[i, 'price'] = df['price'][i] / 7 * 365.25 / 12

# df['price'] = (df['price'] - df['price'].min()) / (df['price'].max() - df['price'].min())

In [13]:
print(df['price'].min())
print(df['price'].max())

200
52500

Since we have standardized the units of the price, we can drop the price_type column.

In [14]:
df = df.drop(columns=['price_type'])

## Normalize the square_feet using Min Max method

In [15]:
df['square_feet'] = (df['square_feet'] - df['square_feet'].min()) / (df['square_feet'].max() - df['square_feet'].min())

In [16]:
print(df['square_feet'].min())
print(df['square_feet'].max())

0.0
1.0

## Impute NaN values using median

In [17]:
df['bathrooms'] = df['bathrooms'].replace({np.nan: df['bathrooms'].median()})

In [18]:
df['bedrooms'] = df['bedrooms'].replace({np.nan: df['bedrooms'].median()})

## Preprocessing on the amenities

In [19]:
df['amenities'] = np.array(df['amenities'].str.strip().str.split(","))

In [20]:
df

,amenities,bathrooms,bedrooms,fee,price,square_feet,cityname,state,time
0,NaN,1.0,0.0,No,790,0.000000,Washington,DC,2019-12-26 11:23:35
1,NaN,1.0,1.0,No,425,0.000125,Evansville,IN,2019-12-22 12:17:43
2,NaN,1.0,0.0,No,1390,0.000150,Arlington,VA,2019-12-26 11:23:30
3,NaN,1.0,0.0,No,925,0.000376,Seattle,WA,2019-12-18 11:15:43
4,NaN,1.0,0.0,No,880,0.000602,Arlington,VA,2019-12-26 11:23:21
...,...,...,...,...,...,...,...,...,...
9995,NaN,4.0,5.0,No,6000,0.155367,Edina,MN,2019-11-30 11:22:55
9996,NaN,8.0,6.0,No,25000,0.215920,Montecito,CA,2019-12-26 11:40:19
9997,NaN,8.5,6.0,No,11000,0.281135,Potomac,MD,2019-12-26 11:42:40
9998,"[Basketball, Cable or Satellite, Doorman, Hot ...",1.0,1.0,No,4790,1.000000,New York,NY,2019-12-26 12:09:46
9999,"[Gym, Patio/Deck]",1.0,1.0,No,1009,0.019524,Lawrenceville,GA,2019-12-26 12:09:01

In [21]:
df['amenities'] = df['amenities'].replace({np.nan: 'None'})

In [22]:
df.head(5)

,amenities,bathrooms,bedrooms,fee,price,square_feet,cityname,state,time
0,None,1.0,0.0,No,790,0.000000,Washington,DC,2019-12-26 11:23:35
1,None,1.0,1.0,No,425,0.000125,Evansville,IN,2019-12-22 12:17:43
2,None,1.0,0.0,No,1390,0.000150,Arlington,VA,2019-12-26 11:23:30
3,None,1.0,0.0,No,925,0.000376,Seattle,WA,2019-12-18 11:15:43
4,None,1.0,0.0,No,880,0.000602,Arlington,VA,2019-12-26 11:23:21

## One-hot Encoding States and City Names
States and city names are nominal categorical features. To deal with this, we will be creating one-hot encoded fields to reflect each data points location.

In [23]:
all_states = df['state'].unique()
all_states

array(['DC', 'IN', 'VA', 'WA', 'NY', 'CA', 'AZ', 'TX', 'GA', 'NC', 'FL',
       nan, 'AL', 'MD', 'CO', 'NM', 'IL', 'TN', 'AK', 'MA', 'NJ', 'OR',
       'DE', 'PA', 'IA', 'SC', 'MN', 'MI', 'KY', 'WI', 'OH', 'CT', 'RI',
       'NV', 'UT', 'MO', 'OK', 'NH', 'NE', 'LA', 'ND', 'AR', 'KS', 'ID',
       'HI', 'MT', 'VT', 'SD', 'WV', 'MS', 'ME', 'WY'], dtype=object)

In [24]:
display(df['state'].value_counts())

display(df['cityname'].value_counts())

TX    1737
CA     955
WA     519
NC     436
MD     424
NJ     383
GA     372
FL     339
OH     321
CO     318
WI     302
IL     282
MO     239
IN     239
MN     221
VA     205
OR     197
PA     183
IA     179
OK     178
MI     176
MA     167
AZ     126
NV     121
ND     113
NE     105
CT      98
TN      92
UT      84
KS      83
DC      80
SC      77
NY      71
NH      70
SD      66
LA      66
AL      56
AR      56
AK      44
KY      40
ID      21
VT      16
NM      14
HI      12
RI      11
MS       9
MT       7
DE       5
WV       3
ME       2
WY       1
Name: state, dtype: int64

Austin           523
Dallas           216
Houston          186
San Antonio      182
Los Angeles      165
                ...
Keizer             1
Keyser             1
Pompano Beach      1
Kaysville          1
Bella Vista        1
Name: cityname, Length: 1573, dtype: int64

In [25]:
df = pd.get_dummies(df, columns=['state', 'cityname'], dummy_na=True)

In [26]:
df.head()

,amenities,bathrooms,bedrooms,fee,price,square_feet,time,state_AK,state_AL,state_AR,...,cityname_York,cityname_Yorktown,cityname_Yorkville,cityname_Youngstown,cityname_Youngsville,cityname_Ypsilanti,cityname_Yuba City,cityname_Yukon,cityname_Zachary,cityname_nan
0,None,1.0,0.0,No,790,0.000000,2019-12-26 11:23:35,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,None,1.0,1.0,No,425,0.000125,2019-12-22 12:17:43,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,None,1.0,0.0,No,1390,0.000150,2019-12-26 11:23:30,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,None,1.0,0.0,No,925,0.000376,2019-12-18 11:15:43,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,None,1.0,0.0,No,880,0.000602,2019-12-26 11:23:21,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
# extract unknown cities and states
unknown_city = df[df['cityname_nan'] == 1]
unknown_state = df[df['state_nan'] == 1]
unknown_state

# find if there is intersection between unknown cities and states
print(unknown_city.shape[0])
print(unknown_state.shape[0])
len(unknown_city.index.intersection(unknown_state.index))

77
77

77

In [28]:
df['fee'].unique()

array(['No'], dtype=object)

In [29]:
final_cleaned = df.drop(columns=['fee'])
final_cleaned

,amenities,bathrooms,bedrooms,price,square_feet,time,state_AK,state_AL,state_AR,state_AZ,...,cityname_York,cityname_Yorktown,cityname_Yorkville,cityname_Youngstown,cityname_Youngsville,cityname_Ypsilanti,cityname_Yuba City,cityname_Yukon,cityname_Zachary,cityname_nan
0,None,1.0,0.0,790,0.000000,2019-12-26 11:23:35,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,None,1.0,1.0,425,0.000125,2019-12-22 12:17:43,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,None,1.0,0.0,1390,0.000150,2019-12-26 11:23:30,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,None,1.0,0.0,925,0.000376,2019-12-18 11:15:43,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,None,1.0,0.0,880,0.000602,2019-12-26 11:23:21,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,None,4.0,5.0,6000,0.155367,2019-11-30 11:22:55,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,None,8.0,6.0,25000,0.215920,2019-12-26 11:40:19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,None,8.5,6.0,11000,0.281135,2019-12-26 11:42:40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,"[Basketball, Cable or Satellite, Doorman, Hot ...",1.0,1.0,4790,1.000000,2019-12-26 12:09:46,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,"[Gym, Patio/Deck]",1.0,1.0,1009,0.019524,2019-12-26 12:09:01,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## One hot encoding amenities

In [30]:
all_amenities = (final_cleaned['amenities'].explode()).unique()[1:]
final_cleaned = final_cleaned.reset_index(drop=True)
amenities = pd.DataFrame()

for a in all_amenities:
    amenities[a] = final_cleaned['amenities'].apply(lambda x: 1 if a in x else 0)
amenities.head()

,Dishwasher,Elevator,Patio/Deck,Pool,Storage,Refrigerator,Cable or Satellite,Clubhouse,Internet Access,Parking,...,Gym,TV,Hot Tub,Tennis,Wood Floors,View,Alarm,Doorman,Luxury,Golf
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
final_cleaned = pd.concat([final_cleaned, amenities], axis=1).drop(columns='amenities')
final_cleaned.head()

,bathrooms,bedrooms,price,square_feet,time,state_AK,state_AL,state_AR,state_AZ,state_CA,...,Gym,TV,Hot Tub,Tennis,Wood Floors,View,Alarm,Doorman,Luxury,Golf
0,1.0,0.0,790,0.000000,2019-12-26 11:23:35,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,1.0,425,0.000125,2019-12-22 12:17:43,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,0.0,1390,0.000150,2019-12-26 11:23:30,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,0.0,925,0.000376,2019-12-18 11:15:43,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,0.0,880,0.000602,2019-12-26 11:23:21,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Model 1

In [162]:
from keras.optimizers import SGD
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

# drop time since machine cant train on DateTime type
X = final_cleaned.drop(columns=['price', 'time'])
X_train, X_test, y_train, y_test = train_test_split(X, final_cleaned.price, test_size = 0.2, random_state = 42)

def buildHPmodel(hp):
  model = Sequential ([
        Dense(
            units=hp.Int("units", min_value=8, max_value=64, step=8),
            input_shape=(X_train.shape[1],),
            activation=hp.Choice("activation", ["relu", "tanh"]),
        ),
      Dense(
          units = hp.Int("units", min_value = 8, max_value = 64, step = 8),
          activation = hp.Choice("activation", ["relu", "tanh"]),
      ),
      Dense(1, activation="relu")
  ])
  learning_rate = hp.Float("lr", min_value = 1e-4, max_value = 0.3, sampling = "log")
  model.compile(optimizer = SGD(learning_rate = learning_rate), loss = 'mae', metrics = ['mse','mae'])
  return model

In [155]:
y_train

8964    1862
1561     850
1670    1220
4345     800
8099    1300
        ...
5734    1010
5191    1736
5390    3159
860     1061
7270    1285
Name: price, Length: 7998, dtype: int64

In [156]:
# pip install keras_tuner

In [157]:
import keras_tuner

In [158]:
hp = keras_tuner.HyperParameters()

In [159]:
# if changing any model parameters such as layers, activation function.
# plz remove the file "untitled_project/tuner0.json"
# otherwise, it will reload from the tuner config before modification.
tuner = keras_tuner.RandomSearch(
    hypermodel = buildHPmodel,
    objective = "val_mae",
    max_trials = 20,
    seed = 15,
    executions_per_trial = 5,
    tune_new_entries = True,
    allow_new_entries = True,
    max_consecutive_failed_trials = 3
)

In [160]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, random_state = 0)

In [161]:
tuner.search(X_train.astype('float'), y_train, epochs = 2, validation_data = (X_val, y_val))

Trial 20 Complete [00h 00m 09s]
val_mae: 422.9543823242187

Best val_mae So Far: 411.8282775878906
Total elapsed time: 00h 02m 57s

In [163]:
tuner.results_summary()

Results summary
Results in .\untitled_project
Showing 10 best trials
Objective(name="val_mae", direction="min")

Trial 15 summary
Hyperparameters:
units: 24
activation: relu
lr: 0.007177664122743156
Score: 411.8282775878906

Trial 19 summary
Hyperparameters:
units: 8
activation: relu
lr: 0.005241515692754444
Score: 422.9543823242187

Trial 03 summary
Hyperparameters:
units: 48
activation: relu
lr: 0.0031230758528628527
Score: 492.50872802734375

Trial 13 summary
Hyperparameters:
units: 64
activation: relu
lr: 0.008547485565344062
Score: 654.8868774414062

Trial 17 summary
Hyperparameters:
units: 8
activation: relu
lr: 0.00304325168554751
Score: 787.1304626464844

Trial 02 summary
Hyperparameters:
units: 16
activation: tanh
lr: 0.007075066125528888
Score: 1468.967333984375

Trial 01 summary
Hyperparameters:
units: 16
activation: tanh
lr: 0.006475590128522282
Score: 1474.0741455078125

Trial 07 summary
Hyperparameters:
units: 24
activation: tanh
lr: 0.0019008479966982695
Score: 1498.5926025390625

Trial 06 summary
Hyperparameters:
units: 40
activation: tanh
lr: 0.0012513800047239778
Score: 1501.024755859375

Trial 12 summary
Hyperparameters:
units: 16
activation: tanh
lr: 0.001715074355925934
Score: 1503.1404541015625

In [165]:
# test regular
model = Sequential()

# Input layer (matches the number of features in your data)
model.add(Dense(24, input_dim=X_train.shape[1], activation='relu')) 

# Hidden layers (you can add more with different units)
model.add(Dense(24, activation='relu'))  

# Output layer (units based on the number of classes)
model.add(Dense(1, activation='relu')) 

model.compile(optimizer='adam', loss='mae', metrics=['mae','mse'])

X_train, X_test, y_train, y_test = train_test_split(X, final_cleaned.price, test_size = 0.2)

model.fit(X_train,y_train, epochs=100, validation_data=(X_test, y_test))
loss, mae, mse = model.evaluate(X_test, y_test)
print('MAE:', mae)
print('MSE:', mse)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 1450.3462 - mae: 1450.3462 - mse: 3363610.0000 - val_loss: 1325.6533 - val_mae: 1325.6533 - val_mse: 2500059.7500
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 983.8949 - mae: 983.8949 - mse: 2234572.2500 - val_loss: 670.5816 - val_mae: 670.5816 - val_mse: 1039568.8125
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 602.3536 - mae: 602.3536 - mse: 1361513.6250 - val_loss: 531.4960 - val_mae: 531.4960 - val_mse: 723178.3750
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 503.9961 - mae: 503.9961 - mse: 1149204.7500 - val_loss: 452.2851 - val_mae: 452.2851 - val_mse: 575816.3750
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 443.7537 - mae: 443.7537 - mse: 1026729.3750 - val_loss: 406.5997 - val_mae: 406.5997 - val_mse: 491576.8125
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 407.0697 - mae: 407.0697 - mse: 951184.9375 - val_loss: 377.8750 - val_mae: 377.8750 - val_mse: 433664.7812
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 380.6314 - mae: 380.6314 - mse: 899161.4375 - val_loss: 356.5748 - val_mae: 356.5748 - val_mse: 395152.7188
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 360.6505 - mae: 360.6505 - mse: 858729.8750 - val_loss: 341.6295 - val_mae: 341.6295 - val_mse: 367759.4375
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 346.0865 - mae: 346.0865 - mse: 828990.2500 - val_loss: 331.1346 - val_mae: 331.1346 - val_mse: 348813.0312
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 335.6832 - mae: 335.6832 - mse: 805027.0625 - val_loss: 323.6634 - val_mae: 323.6634 - val_mse: 332001.4062
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 327.9304 - mae: 327.9304 - mse: 789959.6875 - val_loss: 318.6880 - val_mae: 318.6880 - val_mse: 322620.4375
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 321.7523 - mae: 321.7523 - mse: 778953.6250 - val_loss: 314.4462 - val_mae: 314.4462 - val_mse: 311146.2500
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 316.8158 - mae: 316.8158 - mse: 768346.8750 - val_loss: 311.2962 - val_mae: 311.2962 - val_mse: 303099.6250
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 312.4775 - mae: 312.4775 - mse: 761124.8125 - val_loss: 308.6604 - val_mae: 308.6604 - val_mse: 299337.6875
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 308.7536 - mae: 308.7536 - mse: 755076.6250 - val_loss: 306.7279 - val_mae: 306.7279 - val_mse: 293956.0312
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 305.3047 - mae: 305.3047 - mse: 749608.3750 - val_loss: 304.9398 - val_mae: 304.9398 - val_mse: 296003.6875
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 302.0508 - mae: 302.0508 - mse: 744769.3125 - val_loss: 303.0281 - val_mae: 303.0281 - val_mse: 288248.8125
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 299.2812 - mae: 299.2812 - mse: 740539.0625 - val_loss: 301.3064 - val_mae: 301.3064 - val_mse: 285636.9375
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 296.3481 - mae: 296.3481 - mse: 736753.9375 - val_loss: 300.0513 - val_mae: 300.0513 - val_mse: 281510.8438
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 293.7364 - mae: 293.7364 - mse: 733179.1250 - val_loss: 299.1898 - val_mae: 299.1898 - val_mse: 283394.4062
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 291.5305 - mae: 291.5305 - mse: 729696.7500 - val_loss: 298.0055 - val_mae: 298.0055 - val_mse: 280227.8125
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 289.1053 - mae: 289.1053 - mse: 727224.4375 - val_loss: 296.7715 - val_mae: 296.7715 - val_mse: 278550.7500
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 286.8573 - mae: 286.8573 - mse: 723588.6875 - val_loss: 295.8627 - val_mae: 295.8627 - val_mse: 275478.6250
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 284.8644 - mae: 284.8644 - mse: 720960.0000 - val_loss: 294.9788 - val_mae: 294.9788 - val_mse: 271640.0938
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 282.8805 - mae: 282.8805 - mse: 717692.5000 - val_loss: 294.1421 - val_mae: 294.1421 - val_mse: 272469.5625
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 281.0132 - mae: 281.0132 - mse: 715689.5000 - val_loss: 293.0869 - val_mae: 293.0869 - val_mse: 268750.4688
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 279.2420 - mae: 279.2420 - mse: 712773.0625 - val_loss: 292.4426 - val_mae: 292.4426 - val_mse: 265519.5938
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 277.6274 - mae: 277.6274 - mse: 710007.7500 - val_loss: 291.6638 - val_mae: 291.6638 - val_mse: 266244.1562
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 276.2083 - mae: 276.2083 - mse: 707292.8125 - val_loss: 291.0485 - val_mae: 291.0485 - val_mse: 264861.3125
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 274.5737 - mae: 274.5737 - mse: 705454.8125 - val_loss: 290.6468 - val_mae: 290.6468 - val_mse: 265445.8438
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 273.0896 - mae: 273.0896 - mse: 703492.6250 - val_loss: 289.9734 - val_mae: 289.9734 - val_mse: 260737.5781
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 271.8386 - mae: 271.8386 - mse: 700852.1875 - val_loss: 289.3551 - val_mae: 289.3551 - val_mse: 262790.3125
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 270.2188 - mae: 270.2188 - mse: 699302.6875 - val_loss: 288.8203 - val_mae: 288.8203 - val_mse: 260422.3906
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 269.0808 - mae: 269.0808 - mse: 697494.3125 - val_loss: 288.3477 - val_mae: 288.3477 - val_mse: 257509.5625
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 267.9051 - mae: 267.9051 - mse: 695260.8125 - val_loss: 287.8075 - val_mae: 287.8075 - val_mse: 259181.9531
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 266.6488 - mae: 266.6488 - mse: 693144.6875 - val_loss: 287.2225 - val_mae: 287.2225 - val_mse: 257137.6562
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 265.4204 - mae: 265.4204 - mse: 692426.6250 - val_loss: 287.0281 - val_mae: 287.0281 - val_mse: 252365.6250
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 264.4132 - mae: 264.4132 - mse: 689009.6250 - val_loss: 286.3376 - val_mae: 286.3376 - val_mse: 255726.6719
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 263.2627 - mae: 263.2627 - mse: 688364.9375 - val_loss: 286.2986 - val_mae: 286.2986 - val_mse: 250303.4375
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 262.2478 - mae: 262.2478 - mse: 685431.8750 - val_loss: 285.3248 - val_mae: 285.3248 - val_mse: 252369.9531
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 261.4265 - mae: 261.4265 - mse: 683899.1875 - val_loss: 284.6685 - val_mae: 284.6685 - val_mse: 251090.4531
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 260.5076 - mae: 260.5076 - mse: 682818.1250 - val_loss: 284.1717 - val_mae: 284.1717 - val_mse: 250035.6094
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 259.5118 - mae: 259.5118 - mse: 680909.0000 - val_loss: 284.0817 - val_mae: 284.0817 - val_mse: 248151.7188
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 258.5237 - mae: 258.5237 - mse: 679245.5000 - val_loss: 284.0080 - val_mae: 284.0080 - val_mse: 247593.9219
Epoch 45/100

250/250 [==============================] - 0s 2ms/step - loss: 257.6401 - mae: 257.6401 - mse: 677646.6875 - val_loss: 283.4389 - val_mae: 283.4389 - val_mse: 246160.7500
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 256.8255 - mae: 256.8255 - mse: 676444.2500 - val_loss: 282.9951 - val_mae: 282.9951 - val_mse: 246385.1094
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 256.0901 - mae: 256.0901 - mse: 674665.1875 - val_loss: 282.9431 - val_mae: 282.9431 - val_mse: 245025.8750
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 255.2106 - mae: 255.2106 - mse: 673120.3750 - val_loss: 282.6294 - val_mae: 282.6294 - val_mse: 242803.8438
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 254.4689 - mae: 254.4689 - mse: 671504.0625 - val_loss: 282.0252 - val_mae: 282.0252 - val_mse: 244651.9375
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 253.7875 - mae: 253.7875 - mse: 669839.3125 - val_loss: 282.0147 - val_mae: 282.0147 - val_mse: 242073.8281
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 253.0592 - mae: 253.0592 - mse: 668224.1250 - val_loss: 281.9034 - val_mae: 281.9034 - val_mse: 241642.0938
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 252.2895 - mae: 252.2895 - mse: 666956.1875 - val_loss: 281.7659 - val_mae: 281.7659 - val_mse: 240361.5312
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 251.7789 - mae: 251.7789 - mse: 665461.3125 - val_loss: 281.0933 - val_mae: 281.0933 - val_mse: 241739.5156
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 251.0564 - mae: 251.0564 - mse: 664044.8750 - val_loss: 281.6560 - val_mae: 281.6560 - val_mse: 237396.2500
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 250.5292 - mae: 250.5292 - mse: 663420.8125 - val_loss: 280.6967 - val_mae: 280.6967 - val_mse: 240385.5312
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 250.1515 - mae: 250.1515 - mse: 661449.5000 - val_loss: 280.4897 - val_mae: 280.4897 - val_mse: 240547.6250
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 249.4391 - mae: 249.4391 - mse: 660488.0000 - val_loss: 280.1633 - val_mae: 280.1633 - val_mse: 236965.1875
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 248.7184 - mae: 248.7184 - mse: 658560.6250 - val_loss: 279.9798 - val_mae: 279.9798 - val_mse: 236335.2969
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 248.0722 - mae: 248.0722 - mse: 658112.0625 - val_loss: 279.6343 - val_mae: 279.6343 - val_mse: 237298.4062
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 247.5694 - mae: 247.5694 - mse: 656691.7500 - val_loss: 279.5896 - val_mae: 279.5896 - val_mse: 235845.6562
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 247.1401 - mae: 247.1401 - mse: 655266.1250 - val_loss: 279.6708 - val_mae: 279.6708 - val_mse: 233438.8750
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 246.4311 - mae: 246.4311 - mse: 654405.0000 - val_loss: 279.3718 - val_mae: 279.3718 - val_mse: 235356.0625
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 246.0170 - mae: 246.0170 - mse: 653971.8750 - val_loss: 279.3031 - val_mae: 279.3031 - val_mse: 232659.2344
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 245.5954 - mae: 245.5954 - mse: 651987.5625 - val_loss: 279.0855 - val_mae: 279.0855 - val_mse: 235926.6875
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 245.2293 - mae: 245.2293 - mse: 651981.3125 - val_loss: 278.6857 - val_mae: 278.6857 - val_mse: 232661.8906
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 244.5709 - mae: 244.5709 - mse: 650271.9375 - val_loss: 278.7645 - val_mae: 278.7645 - val_mse: 231140.5156
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 244.2103 - mae: 244.2103 - mse: 649494.0625 - val_loss: 278.3782 - val_mae: 278.3782 - val_mse: 232478.4844
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 243.7510 - mae: 243.7510 - mse: 648284.8750 - val_loss: 278.3400 - val_mae: 278.3400 - val_mse: 234219.7344
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 243.2961 - mae: 243.2961 - mse: 647985.6250 - val_loss: 278.4855 - val_mae: 278.4855 - val_mse: 230683.7344
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 242.8662 - mae: 242.8662 - mse: 646718.3750 - val_loss: 278.2992 - val_mae: 278.2992 - val_mse: 229929.7188
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 242.4604 - mae: 242.4604 - mse: 646269.1875 - val_loss: 278.0999 - val_mae: 278.0999 - val_mse: 229261.2344
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 242.1390 - mae: 242.1390 - mse: 644511.0000 - val_loss: 278.1087 - val_mae: 278.1087 - val_mse: 228760.7344
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 241.5880 - mae: 241.5880 - mse: 643284.5625 - val_loss: 278.1708 - val_mae: 278.1708 - val_mse: 227502.0781
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 241.1404 - mae: 241.1404 - mse: 642057.8750 - val_loss: 277.5512 - val_mae: 277.5512 - val_mse: 229646.3906
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 240.7050 - mae: 240.7050 - mse: 641016.8125 - val_loss: 277.4427 - val_mae: 277.4427 - val_mse: 227896.2656
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 240.1524 - mae: 240.1524 - mse: 640191.0000 - val_loss: 277.4934 - val_mae: 277.4934 - val_mse: 226553.1250
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 239.9941 - mae: 239.9941 - mse: 639503.5625 - val_loss: 277.3932 - val_mae: 277.3932 - val_mse: 229174.9688
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 239.5490 - mae: 239.5490 - mse: 638673.8750 - val_loss: 277.1841 - val_mae: 277.1841 - val_mse: 225482.2812
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 239.1081 - mae: 239.1081 - mse: 637280.8125 - val_loss: 277.8406 - val_mae: 277.8406 - val_mse: 223870.7656
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 239.1653 - mae: 239.1653 - mse: 636016.4375 - val_loss: 276.7159 - val_mae: 276.7159 - val_mse: 227810.4688
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 238.4746 - mae: 238.4746 - mse: 635975.6250 - val_loss: 276.8286 - val_mae: 276.8286 - val_mse: 226637.3281
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 237.9808 - mae: 237.9808 - mse: 634839.6250 - val_loss: 276.5103 - val_mae: 276.5103 - val_mse: 224881.4375
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 237.8401 - mae: 237.8401 - mse: 634119.1250 - val_loss: 276.7390 - val_mae: 276.7390 - val_mse: 225004.7500
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 237.3400 - mae: 237.3400 - mse: 632848.7500 - val_loss: 276.5907 - val_mae: 276.5907 - val_mse: 224207.8125
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 237.0533 - mae: 237.0533 - mse: 632188.2500 - val_loss: 276.5172 - val_mae: 276.5172 - val_mse: 223000.6875
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 236.6987 - mae: 236.6987 - mse: 631316.4375 - val_loss: 276.1416 - val_mae: 276.1416 - val_mse: 223620.5000
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 236.4404 - mae: 236.4404 - mse: 630748.3125 - val_loss: 276.1031 - val_mae: 276.1031 - val_mse: 223982.6250
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 235.9827 - mae: 235.9827 - mse: 629756.5000 - val_loss: 276.1737 - val_mae: 276.1737 - val_mse: 225129.7344
Epoch 89/100

250/250 [==============================] - 0s 2ms/step - loss: 235.8278 - mae: 235.8278 - mse: 628146.7500 - val_loss: 276.2091 - val_mae: 276.2091 - val_mse: 223023.1094
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 235.4388 - mae: 235.4388 - mse: 627265.9375 - val_loss: 276.1469 - val_mae: 276.1469 - val_mse: 223191.3750
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 235.0930 - mae: 235.0930 - mse: 626979.6875 - val_loss: 275.7753 - val_mae: 275.7753 - val_mse: 222126.7500
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 234.6437 - mae: 234.6437 - mse: 626170.8750 - val_loss: 275.8242 - val_mae: 275.8242 - val_mse: 222633.9062
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 234.4279 - mae: 234.4279 - mse: 625378.9375 - val_loss: 275.5784 - val_mae: 275.5784 - val_mse: 221860.0469
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 234.0147 - mae: 234.0147 - mse: 624471.1250 - val_loss: 275.6826 - val_mae: 275.6826 - val_mse: 220980.3750
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 233.7839 - mae: 233.7839 - mse: 623627.7500 - val_loss: 275.6266 - val_mae: 275.6266 - val_mse: 221677.2500
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 233.4434 - mae: 233.4434 - mse: 622644.1250 - val_loss: 275.1453 - val_mae: 275.1453 - val_mse: 221369.6250
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 233.2881 - mae: 233.2881 - mse: 621584.0000 - val_loss: 275.3071 - val_mae: 275.3071 - val_mse: 219494.4219
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 232.8065 - mae: 232.8065 - mse: 620537.5625 - val_loss: 275.1335 - val_mae: 275.1335 - val_mse: 219270.8281
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 232.7891 - mae: 232.7891 - mse: 619715.3750 - val_loss: 274.9400 - val_mae: 274.9400 - val_mse: 220148.8281
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 232.4147 - mae: 232.4147 - mse: 618967.1250 - val_loss: 274.6580 - val_mae: 274.6580 - val_mse: 220419.7188
63/63 [==============================] - 0s 1ms/step - loss: 274.6580 - mae: 274.6580 - mse: 220419.7188
MAE: 274.657958984375
MSE: 220419.71875

The testing MAE is slightly worse than the training MAE but the difference isn't big enough to say that it is overfitting or underfitting.

Conclusions:

ReLu is by far the best activation function for our task, which make sense since there are linear relationships in the data.

# Next Models: Linear Regression and Gradient Boosting Machines