In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

import warnings
warnings.filterwarnings("ignore")

In [2]:
# uncomment if using colab
# ! git clone https://github.com/Daniel-Tran3/CSE_151A_Project.git

In [3]:
original_df = pd.read_csv('apartments_for_rent_classified_10K_utf.csv')

# uncomment the following if using colab
# original_df = pd.read_csv('CSE_151A_Project/apartments_for_rent_classified_10K_utf.csv')

In [4]:
df = original_df[["amenities", "bathrooms", "bedrooms", "fee", "price", "price_type", "square_feet", "cityname", "state", "time"]]

In [5]:
df.head(5)

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
0,NaN,NaN,0.0,No,790,Monthly,101,Washington,DC,1577359415
1,NaN,NaN,1.0,No,425,Monthly,106,Evansville,IN,1577017063
2,NaN,1.0,0.0,No,1390,Monthly,107,Arlington,VA,1577359410
3,NaN,1.0,0.0,No,925,Monthly,116,Seattle,WA,1576667743
4,NaN,NaN,0.0,No,880,Monthly,125,Arlington,VA,1577359401

In [6]:
df.isna().mean()

amenities      0.3549
bathrooms      0.0034
bedrooms       0.0007
fee            0.0000
price          0.0000
price_type     0.0000
square_feet    0.0000
cityname       0.0077
state          0.0077
time           0.0000
dtype: float64

## Convert timestamp to datetime objects

In [7]:
df['time'] = pd.to_datetime(df['time'], unit='s')

In [8]:
df.head(2)

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
0,NaN,NaN,0.0,No,790,Monthly,101,Washington,DC,2019-12-26 11:23:35
1,NaN,NaN,1.0,No,425,Monthly,106,Evansville,IN,2019-12-22 12:17:43

## Normalizing Price and Square Feet

Convert any prices measured in Weeks to Months by converting to price per day then price per year then price per month (roughly 4.348 multiplier).

There is one abnormally high price with 'weekly' price_type. The price for 'week' is 1560, and digging into the dataset, we found that it is a duplicate of index 15. The listing is for the same place except it's on another listing website. This duplicate will be dropped in favor of the other one.

There is also one record with 'Monthly|Weekely' price_type with a price of 275.0, and the price is likely to be on a weekly basis.

In [9]:
df[df['price'] == 1560][:2]

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
15,"AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,No,1560,Weekly,200,New Bern,NC,2019-12-17 21:27:56
16,"AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,No,1560,Monthly,200,New Bern,NC,2019-12-15 10:37:53

In [10]:
# Drop the wrong record?
# df = df.drop([16,17])

df = df.drop([15,16])

In [11]:
df[df['price_type'] == 'Monthly|Weekly']

,amenities,bathrooms,bedrooms,fee,price,price_type,square_feet,cityname,state,time
235,"Cable or Satellite,Pool,Refrigerator,Storage,TV",NaN,NaN,No,275,Monthly|Weekly,300,Lakeland,FL,2019-11-27 21:43:20

In [12]:
# DO NOT NORMALIZE IT WILL BECOME NON-INTERPRETABLE
# for i in df.index:
#   if (df['price_type'][i] == "Weekly") or (df['price_type'][i] == "Monthly/Weekly"):
#     df.loc[i, 'price'] = df['price'][i] / 7 * 365.25 / 12

# df['price'] = (df['price'] - df['price'].min()) / (df['price'].max() - df['price'].min())

In [13]:
print(df['price'].min())
print(df['price'].max())

200
52500

Since we have standardized the units of the price, we can drop the price_type column.

In [14]:
df = df.drop(columns=['price_type'])

## Normalize the square_feet using Min Max method

In [15]:
df['square_feet'] = (df['square_feet'] - df['square_feet'].min()) / (df['square_feet'].max() - df['square_feet'].min())

In [16]:
print(df['square_feet'].min())
print(df['square_feet'].max())

0.0
1.0

## Impute NaN values using median

In [17]:
df['bathrooms'] = df['bathrooms'].replace({np.nan: df['bathrooms'].median()})

In [18]:
df['bedrooms'] = df['bedrooms'].replace({np.nan: df['bedrooms'].median()})

## Preprocessing on the amenities

In [19]:
df['amenities'] = np.array(df['amenities'].str.strip().str.split(","))

In [20]:
df

,amenities,bathrooms,bedrooms,fee,price,square_feet,cityname,state,time
0,NaN,1.0,0.0,No,790,0.000000,Washington,DC,2019-12-26 11:23:35
1,NaN,1.0,1.0,No,425,0.000125,Evansville,IN,2019-12-22 12:17:43
2,NaN,1.0,0.0,No,1390,0.000150,Arlington,VA,2019-12-26 11:23:30
3,NaN,1.0,0.0,No,925,0.000376,Seattle,WA,2019-12-18 11:15:43
4,NaN,1.0,0.0,No,880,0.000602,Arlington,VA,2019-12-26 11:23:21
...,...,...,...,...,...,...,...,...,...
9995,NaN,4.0,5.0,No,6000,0.155367,Edina,MN,2019-11-30 11:22:55
9996,NaN,8.0,6.0,No,25000,0.215920,Montecito,CA,2019-12-26 11:40:19
9997,NaN,8.5,6.0,No,11000,0.281135,Potomac,MD,2019-12-26 11:42:40
9998,"[Basketball, Cable or Satellite, Doorman, Hot ...",1.0,1.0,No,4790,1.000000,New York,NY,2019-12-26 12:09:46
9999,"[Gym, Patio/Deck]",1.0,1.0,No,1009,0.019524,Lawrenceville,GA,2019-12-26 12:09:01

In [21]:
df['amenities'] = df['amenities'].replace({np.nan: 'None'})

In [22]:
df.head(5)

,amenities,bathrooms,bedrooms,fee,price,square_feet,cityname,state,time
0,None,1.0,0.0,No,790,0.000000,Washington,DC,2019-12-26 11:23:35
1,None,1.0,1.0,No,425,0.000125,Evansville,IN,2019-12-22 12:17:43
2,None,1.0,0.0,No,1390,0.000150,Arlington,VA,2019-12-26 11:23:30
3,None,1.0,0.0,No,925,0.000376,Seattle,WA,2019-12-18 11:15:43
4,None,1.0,0.0,No,880,0.000602,Arlington,VA,2019-12-26 11:23:21

## One-hot Encoding States and City Names
States and city names are nominal categorical features. To deal with this, we will be creating one-hot encoded fields to reflect each data points location.

In [23]:
all_states = df['state'].unique()
all_states

array(['DC', 'IN', 'VA', 'WA', 'NY', 'CA', 'AZ', 'TX', 'GA', 'NC', 'FL',
       nan, 'AL', 'MD', 'CO', 'NM', 'IL', 'TN', 'AK', 'MA', 'NJ', 'OR',
       'DE', 'PA', 'IA', 'SC', 'MN', 'MI', 'KY', 'WI', 'OH', 'CT', 'RI',
       'NV', 'UT', 'MO', 'OK', 'NH', 'NE', 'LA', 'ND', 'AR', 'KS', 'ID',
       'HI', 'MT', 'VT', 'SD', 'WV', 'MS', 'ME', 'WY'], dtype=object)

In [24]:
display(df['state'].value_counts())

display(df['cityname'].value_counts())

TX    1737
CA     955
WA     519
NC     436
MD     424
NJ     383
GA     372
FL     339
OH     321
CO     318
WI     302
IL     282
MO     239
IN     239
MN     221
VA     205
OR     197
PA     183
IA     179
OK     178
MI     176
MA     167
AZ     126
NV     121
ND     113
NE     105
CT      98
TN      92
UT      84
KS      83
DC      80
SC      77
NY      71
NH      70
SD      66
LA      66
AL      56
AR      56
AK      44
KY      40
ID      21
VT      16
NM      14
HI      12
RI      11
MS       9
MT       7
DE       5
WV       3
ME       2
WY       1
Name: state, dtype: int64

Austin           523
Dallas           216
Houston          186
San Antonio      182
Los Angeles      165
                ...
Keizer             1
Keyser             1
Pompano Beach      1
Kaysville          1
Bella Vista        1
Name: cityname, Length: 1573, dtype: int64

In [25]:
df = pd.get_dummies(df, columns=['state', 'cityname'], dummy_na=True)

In [26]:
df.head()

,amenities,bathrooms,bedrooms,fee,price,square_feet,time,state_AK,state_AL,state_AR,...,cityname_York,cityname_Yorktown,cityname_Yorkville,cityname_Youngstown,cityname_Youngsville,cityname_Ypsilanti,cityname_Yuba City,cityname_Yukon,cityname_Zachary,cityname_nan
0,None,1.0,0.0,No,790,0.000000,2019-12-26 11:23:35,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,None,1.0,1.0,No,425,0.000125,2019-12-22 12:17:43,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,None,1.0,0.0,No,1390,0.000150,2019-12-26 11:23:30,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,None,1.0,0.0,No,925,0.000376,2019-12-18 11:15:43,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,None,1.0,0.0,No,880,0.000602,2019-12-26 11:23:21,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
# extract unknown cities and states
unknown_city = df[df['cityname_nan'] == 1]
unknown_state = df[df['state_nan'] == 1]
unknown_state

# find if there is intersection between unknown cities and states
print(unknown_city.shape[0])
print(unknown_state.shape[0])
len(unknown_city.index.intersection(unknown_state.index))

77
77

77

In [28]:
df['fee'].unique()

array(['No'], dtype=object)

In [29]:
final_cleaned = df.drop(columns=['fee'])
final_cleaned

,amenities,bathrooms,bedrooms,price,square_feet,time,state_AK,state_AL,state_AR,state_AZ,...,cityname_York,cityname_Yorktown,cityname_Yorkville,cityname_Youngstown,cityname_Youngsville,cityname_Ypsilanti,cityname_Yuba City,cityname_Yukon,cityname_Zachary,cityname_nan
0,None,1.0,0.0,790,0.000000,2019-12-26 11:23:35,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,None,1.0,1.0,425,0.000125,2019-12-22 12:17:43,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,None,1.0,0.0,1390,0.000150,2019-12-26 11:23:30,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,None,1.0,0.0,925,0.000376,2019-12-18 11:15:43,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,None,1.0,0.0,880,0.000602,2019-12-26 11:23:21,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,None,4.0,5.0,6000,0.155367,2019-11-30 11:22:55,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,None,8.0,6.0,25000,0.215920,2019-12-26 11:40:19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,None,8.5,6.0,11000,0.281135,2019-12-26 11:42:40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,"[Basketball, Cable or Satellite, Doorman, Hot ...",1.0,1.0,4790,1.000000,2019-12-26 12:09:46,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,"[Gym, Patio/Deck]",1.0,1.0,1009,0.019524,2019-12-26 12:09:01,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## One hot encoding amenities

In [30]:
all_amenities = (final_cleaned['amenities'].explode()).unique()[1:]
final_cleaned = final_cleaned.reset_index(drop=True)
amenities = pd.DataFrame()

for a in all_amenities:
    amenities[a] = final_cleaned['amenities'].apply(lambda x: 1 if a in x else 0)
amenities.head()

,Dishwasher,Elevator,Patio/Deck,Pool,Storage,Refrigerator,Cable or Satellite,Clubhouse,Internet Access,Parking,...,Gym,TV,Hot Tub,Tennis,Wood Floors,View,Alarm,Doorman,Luxury,Golf
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
final_cleaned = pd.concat([final_cleaned, amenities], axis=1).drop(columns='amenities')
final_cleaned.head()

,bathrooms,bedrooms,price,square_feet,time,state_AK,state_AL,state_AR,state_AZ,state_CA,...,Gym,TV,Hot Tub,Tennis,Wood Floors,View,Alarm,Doorman,Luxury,Golf
0,1.0,0.0,790,0.000000,2019-12-26 11:23:35,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,1.0,425,0.000125,2019-12-22 12:17:43,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,0.0,1390,0.000150,2019-12-26 11:23:30,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,0.0,925,0.000376,2019-12-18 11:15:43,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,0.0,880,0.000602,2019-12-26 11:23:21,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Model 1

In [32]:
from keras.optimizers import SGD
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

# drop time since machine cant train on DateTime type
X = final_cleaned.drop(columns=['price', 'time'])
X_train, X_test, y_train, y_test = train_test_split(X, final_cleaned.price, test_size = 0.2, random_state = 42)

def buildHPmodel(hp):
  model = Sequential ([
        Dense(
            units=hp.Int("units", min_value=8, max_value=64, step=8),
            input_shape=(X_train.shape[1],),
            activation=hp.Choice("activation", ["relu", "tanh"]),
        ),
      Dense(
          units = hp.Int("units", min_value = 8, max_value = 64, step = 8),
          activation = hp.Choice("activation", ["relu", "tanh"]),
      ),
      Dense(1, activation="relu")
  ])
  learning_rate = hp.Float("lr", min_value = 1e-4, max_value = 0.3, sampling = "log")
  model.compile(optimizer = SGD(learning_rate = learning_rate), loss = 'mae', metrics = ['mse','mae'])
  return model

WARNING:tensorflow:From C:\Users\Aleck\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [33]:
y_train

8964    1862
1561     850
1670    1220
4345     800
8099    1300
        ...
5734    1010
5191    1736
5390    3159
860     1061
7270    1285
Name: price, Length: 7998, dtype: int64

In [34]:
# pip install keras_tuner

In [35]:
import keras_tuner

In [36]:
hp = keras_tuner.HyperParameters()

In [37]:
# if changing any model parameters such as layers, activation function.
# plz remove the file "untitled_project/tuner0.json"
# otherwise, it will reload from the tuner config before modification.
tuner = keras_tuner.RandomSearch(
    hypermodel = buildHPmodel,
    objective = "val_mae",
    max_trials = 20,
    seed = 15,
    executions_per_trial = 5,
    tune_new_entries = True,
    allow_new_entries = True,
    max_consecutive_failed_trials = 3
)

WARNING:tensorflow:From C:\Users\Aleck\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [38]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, random_state = 0)

In [39]:
tuner.search(X_train.astype('float'), y_train, epochs = 2, validation_data = (X_val, y_val))

Trial 20 Complete [00h 00m 07s]
val_mae: 1511.322509765625

Best val_mae So Far: 425.49615478515625
Total elapsed time: 00h 02m 19s

In [43]:
tuner.results_summary()

Results summary
Results in .\untitled_project
Showing 10 best trials
Objective(name="val_mae", direction="min")

Trial 04 summary
Hyperparameters:
units: 48
activation: relu
lr: 0.008051492859765244
Score: 425.49615478515625

Trial 11 summary
Hyperparameters:
units: 40
activation: relu
lr: 0.005370255866801909
Score: 435.19968872070314

Trial 00 summary
Hyperparameters:
units: 64
activation: relu
lr: 0.006531325785134502
Score: 441.4075134277344

Trial 09 summary
Hyperparameters:
units: 48
activation: relu
lr: 0.002633472508903481
Score: 519.67607421875

Trial 17 summary
Hyperparameters:
units: 8
activation: relu
lr: 0.03792039215767379
Score: 575.9039794921875

Trial 02 summary
Hyperparameters:
units: 16
activation: tanh
lr: 0.16438743694138194
Score: 661.5733764648437

Trial 16 summary
Hyperparameters:
units: 32
activation: relu
lr: 0.0027676755379845196
Score: 711.2377807617188

Trial 01 summary
Hyperparameters:
units: 16
activation: tanh
lr: 0.140935034828769
Score: 715.6222290039062

Trial 03 summary
Hyperparameters:
units: 48
activation: relu
lr: 0.039666359649477914
Score: 758.7066650390625

Trial 08 summary
Hyperparameters:
units: 16
activation: relu
lr: 0.0021127841962961585
Score: 947.3530151367188

In [44]:
# test regular
model = Sequential()

# Input layer (matches the number of features in your data)
model.add(Dense(24, input_dim=X_train.shape[1], activation='relu')) 

# Hidden layers (you can add more with different units)
model.add(Dense(24, activation='relu'))  

# Output layer (units based on the number of classes)
model.add(Dense(1, activation='relu')) 

model.compile(optimizer='adam', loss='mae', metrics=['mae','mse'])

X_train, X_test, y_train, y_test = train_test_split(X, final_cleaned.price, test_size = 0.2)

model.fit(X_train,y_train, epochs=100, validation_split=0.2)
loss, mae, mse = model.evaluate(X_test, y_test)
print('MAE:', mae)
print('MSE:', mse)

Epoch 1/100
200/200 [==============================] - 1s 2ms/step - loss: 1454.0997 - mae: 1454.0997 - mse: 3348442.5000 - val_loss: 1353.6097 - val_mae: 1353.6097 - val_mse: 2725284.5000
Epoch 2/100
200/200 [==============================] - 0s 2ms/step - loss: 1043.0270 - mae: 1043.0270 - mse: 2337830.2500 - val_loss: 699.5656 - val_mae: 699.5656 - val_mse: 1239368.3750
Epoch 3/100
200/200 [==============================] - 0s 2ms/step - loss: 607.8096 - mae: 607.8096 - mse: 1362167.2500 - val_loss: 549.8525 - val_mae: 549.8525 - val_mse: 882145.9375
Epoch 4/100
200/200 [==============================] - 0s 2ms/step - loss: 505.4265 - mae: 505.4265 - mse: 1151791.7500 - val_loss: 476.4052 - val_mae: 476.4052 - val_mse: 731311.9375
Epoch 5/100
200/200 [==============================] - 0s 2ms/step - loss: 448.2358 - mae: 448.2358 - mse: 1039173.0625 - val_loss: 433.6072 - val_mae: 433.6072 - val_mse: 637447.5000
Epoch 6/100
200/200 [==============================] - 0s 2ms/step - loss: 413.7974 - mae: 413.7974 - mse: 969806.8750 - val_loss: 403.6447 - val_mae: 403.6447 - val_mse: 587495.0625
Epoch 7/100
200/200 [==============================] - 0s 2ms/step - loss: 390.0126 - mae: 390.0126 - mse: 926182.3125 - val_loss: 382.6436 - val_mae: 382.6436 - val_mse: 551759.5000
Epoch 8/100
200/200 [==============================] - 0s 2ms/step - loss: 370.6160 - mae: 370.6160 - mse: 889324.9375 - val_loss: 367.2993 - val_mae: 367.2993 - val_mse: 512077.6250
Epoch 9/100
200/200 [==============================] - 0s 2ms/step - loss: 355.4497 - mae: 355.4497 - mse: 859486.3750 - val_loss: 354.8948 - val_mae: 354.8948 - val_mse: 489895.3750
Epoch 10/100
200/200 [==============================] - 0s 2ms/step - loss: 343.9203 - mae: 343.9203 - mse: 836685.1250 - val_loss: 346.2234 - val_mae: 346.2234 - val_mse: 469820.0000
Epoch 11/100
200/200 [==============================] - 0s 2ms/step - loss: 334.2419 - mae: 334.2419 - mse: 816894.9375 - val_loss: 340.0892 - val_mae: 340.0892 - val_mse: 449175.8125
Epoch 12/100
200/200 [==============================] - 0s 2ms/step - loss: 326.2902 - mae: 326.2902 - mse: 799309.8750 - val_loss: 333.9521 - val_mae: 333.9521 - val_mse: 440589.7188
Epoch 13/100
200/200 [==============================] - 0s 2ms/step - loss: 320.0014 - mae: 320.0014 - mse: 788355.3125 - val_loss: 329.9412 - val_mae: 329.9412 - val_mse: 430424.8438
Epoch 14/100
200/200 [==============================] - 0s 1ms/step - loss: 314.6554 - mae: 314.6554 - mse: 778199.9375 - val_loss: 325.6448 - val_mae: 325.6448 - val_mse: 425277.2812
Epoch 15/100
200/200 [==============================] - 0s 2ms/step - loss: 310.1694 - mae: 310.1694 - mse: 770939.1875 - val_loss: 324.2894 - val_mae: 324.2894 - val_mse: 413255.2500
Epoch 16/100
200/200 [==============================] - 0s 1ms/step - loss: 306.1777 - mae: 306.1777 - mse: 763375.3750 - val_loss: 320.8380 - val_mae: 320.8380 - val_mse: 413955.9062
Epoch 17/100
200/200 [==============================] - 0s 2ms/step - loss: 302.5025 - mae: 302.5025 - mse: 759820.1875 - val_loss: 321.1913 - val_mae: 321.1913 - val_mse: 400821.0000
Epoch 18/100
200/200 [==============================] - 0s 2ms/step - loss: 299.2870 - mae: 299.2870 - mse: 753424.0625 - val_loss: 317.2926 - val_mae: 317.2926 - val_mse: 405066.9688
Epoch 19/100
200/200 [==============================] - 0s 2ms/step - loss: 296.0660 - mae: 296.0660 - mse: 749069.7500 - val_loss: 315.5746 - val_mae: 315.5746 - val_mse: 397402.8125
Epoch 20/100
200/200 [==============================] - 0s 2ms/step - loss: 293.2072 - mae: 293.2072 - mse: 745875.3750 - val_loss: 314.4375 - val_mae: 314.4375 - val_mse: 401328.1562
Epoch 21/100
200/200 [==============================] - 0s 2ms/step - loss: 290.7271 - mae: 290.7271 - mse: 742510.7500 - val_loss: 313.5788 - val_mae: 313.5788 - val_mse: 390927.4688
Epoch 22/100
200/200 [==============================] - 0s 2ms/step - loss: 287.8743 - mae: 287.8743 - mse: 739264.0625 - val_loss: 312.0808 - val_mae: 312.0808 - val_mse: 389288.7500
Epoch 23/100
200/200 [==============================] - 0s 1ms/step - loss: 285.3578 - mae: 285.3578 - mse: 736009.5000 - val_loss: 310.8146 - val_mae: 310.8146 - val_mse: 387035.9062
Epoch 24/100
200/200 [==============================] - 0s 2ms/step - loss: 283.0239 - mae: 283.0239 - mse: 732981.7500 - val_loss: 309.6015 - val_mae: 309.6015 - val_mse: 386422.9688
Epoch 25/100
200/200 [==============================] - 0s 2ms/step - loss: 280.9044 - mae: 280.9044 - mse: 731049.1875 - val_loss: 308.4471 - val_mae: 308.4471 - val_mse: 383964.8125
Epoch 26/100
200/200 [==============================] - 0s 2ms/step - loss: 279.0383 - mae: 279.0383 - mse: 727595.0000 - val_loss: 307.8861 - val_mae: 307.8861 - val_mse: 381286.4062
Epoch 27/100
200/200 [==============================] - 0s 2ms/step - loss: 276.7170 - mae: 276.7170 - mse: 725503.6875 - val_loss: 307.2131 - val_mae: 307.2131 - val_mse: 380955.7500
Epoch 28/100
200/200 [==============================] - 0s 2ms/step - loss: 275.0304 - mae: 275.0304 - mse: 722911.5625 - val_loss: 306.9074 - val_mae: 306.9074 - val_mse: 378238.3750
Epoch 29/100
200/200 [==============================] - 0s 2ms/step - loss: 273.0790 - mae: 273.0790 - mse: 719929.0625 - val_loss: 305.7182 - val_mae: 305.7182 - val_mse: 379059.4688
Epoch 30/100
200/200 [==============================] - 0s 2ms/step - loss: 271.3470 - mae: 271.3470 - mse: 718399.1250 - val_loss: 305.1659 - val_mae: 305.1659 - val_mse: 376945.1875
Epoch 31/100
200/200 [==============================] - 0s 2ms/step - loss: 269.7249 - mae: 269.7249 - mse: 715908.1250 - val_loss: 305.4384 - val_mae: 305.4384 - val_mse: 374183.0938
Epoch 32/100
200/200 [==============================] - 0s 2ms/step - loss: 268.1071 - mae: 268.1071 - mse: 714549.1875 - val_loss: 304.3151 - val_mae: 304.3151 - val_mse: 373189.5312
Epoch 33/100
200/200 [==============================] - 0s 2ms/step - loss: 266.3382 - mae: 266.3382 - mse: 712535.0000 - val_loss: 303.3663 - val_mae: 303.3663 - val_mse: 373784.5625
Epoch 34/100
200/200 [==============================] - 0s 2ms/step - loss: 264.8342 - mae: 264.8342 - mse: 709918.0000 - val_loss: 302.8494 - val_mae: 302.8494 - val_mse: 371996.6250
Epoch 35/100
200/200 [==============================] - 0s 2ms/step - loss: 263.1677 - mae: 263.1677 - mse: 707997.0625 - val_loss: 302.5978 - val_mae: 302.5978 - val_mse: 372973.0938
Epoch 36/100
200/200 [==============================] - 0s 2ms/step - loss: 261.9363 - mae: 261.9363 - mse: 706121.0000 - val_loss: 302.6532 - val_mae: 302.6532 - val_mse: 368839.5625
Epoch 37/100
200/200 [==============================] - 0s 1ms/step - loss: 260.6634 - mae: 260.6634 - mse: 704486.1250 - val_loss: 301.8187 - val_mae: 301.8187 - val_mse: 368771.1250
Epoch 38/100
200/200 [==============================] - 0s 2ms/step - loss: 259.5432 - mae: 259.5432 - mse: 702261.7500 - val_loss: 301.7773 - val_mae: 301.7773 - val_mse: 365966.1250
Epoch 39/100
200/200 [==============================] - 0s 1ms/step - loss: 258.2840 - mae: 258.2840 - mse: 700791.8750 - val_loss: 301.7496 - val_mae: 301.7496 - val_mse: 365442.5312
Epoch 40/100
200/200 [==============================] - 0s 2ms/step - loss: 257.1542 - mae: 257.1542 - mse: 699493.3750 - val_loss: 302.1432 - val_mae: 302.1432 - val_mse: 364345.5312
Epoch 41/100
200/200 [==============================] - 0s 2ms/step - loss: 256.0636 - mae: 256.0636 - mse: 698089.8125 - val_loss: 300.8278 - val_mae: 300.8278 - val_mse: 365373.6250
Epoch 42/100
200/200 [==============================] - 0s 2ms/step - loss: 255.0834 - mae: 255.0834 - mse: 696732.0625 - val_loss: 300.3912 - val_mae: 300.3912 - val_mse: 366395.9688
Epoch 43/100
200/200 [==============================] - 0s 2ms/step - loss: 254.0367 - mae: 254.0367 - mse: 694929.7500 - val_loss: 300.4427 - val_mae: 300.4427 - val_mse: 364063.8438
Epoch 44/100
200/200 [==============================] - 0s 2ms/step - loss: 253.2680 - mae: 253.2680 - mse: 693655.2500 - val_loss: 300.4323 - val_mae: 300.4323 - val_mse: 361506.6250
Epoch 45/100

200/200 [==============================] - 0s 2ms/step - loss: 252.3530 - mae: 252.3530 - mse: 692311.3750 - val_loss: 299.8602 - val_mae: 299.8602 - val_mse: 363338.2812
Epoch 46/100
200/200 [==============================] - 0s 1ms/step - loss: 251.4580 - mae: 251.4580 - mse: 691130.0000 - val_loss: 299.6717 - val_mae: 299.6717 - val_mse: 363344.5938
Epoch 47/100
200/200 [==============================] - 0s 2ms/step - loss: 250.3709 - mae: 250.3709 - mse: 689565.6250 - val_loss: 300.4196 - val_mae: 300.4196 - val_mse: 361357.2500
Epoch 48/100
200/200 [==============================] - 0s 2ms/step - loss: 249.7243 - mae: 249.7243 - mse: 689083.7500 - val_loss: 299.6836 - val_mae: 299.6836 - val_mse: 360994.0312
Epoch 49/100
200/200 [==============================] - 0s 2ms/step - loss: 249.0692 - mae: 249.0692 - mse: 687671.7500 - val_loss: 299.3004 - val_mae: 299.3004 - val_mse: 360513.4062
Epoch 50/100
200/200 [==============================] - 0s 2ms/step - loss: 248.1304 - mae: 248.1304 - mse: 686293.1875 - val_loss: 299.3361 - val_mae: 299.3361 - val_mse: 359374.8750
Epoch 51/100
200/200 [==============================] - 0s 2ms/step - loss: 247.4658 - mae: 247.4658 - mse: 685365.3125 - val_loss: 298.6973 - val_mae: 298.6973 - val_mse: 358932.3125
Epoch 52/100
200/200 [==============================] - 0s 2ms/step - loss: 246.9097 - mae: 246.9097 - mse: 684245.7500 - val_loss: 298.7509 - val_mae: 298.7509 - val_mse: 358911.0938
Epoch 53/100
200/200 [==============================] - 0s 2ms/step - loss: 246.1999 - mae: 246.1999 - mse: 683659.0625 - val_loss: 298.7369 - val_mae: 298.7369 - val_mse: 359699.3750
Epoch 54/100
200/200 [==============================] - 0s 2ms/step - loss: 245.5082 - mae: 245.5082 - mse: 682231.8125 - val_loss: 298.5845 - val_mae: 298.5845 - val_mse: 358108.4375
Epoch 55/100
200/200 [==============================] - 0s 2ms/step - loss: 245.0334 - mae: 245.0334 - mse: 681953.1250 - val_loss: 298.6322 - val_mae: 298.6322 - val_mse: 356119.4375
Epoch 56/100
200/200 [==============================] - 0s 2ms/step - loss: 244.1621 - mae: 244.1621 - mse: 681171.8750 - val_loss: 298.4326 - val_mae: 298.4326 - val_mse: 356070.8125
Epoch 57/100
200/200 [==============================] - 0s 2ms/step - loss: 243.7244 - mae: 243.7244 - mse: 679446.8125 - val_loss: 298.1317 - val_mae: 298.1317 - val_mse: 358052.2500
Epoch 58/100
200/200 [==============================] - 0s 2ms/step - loss: 243.3523 - mae: 243.3523 - mse: 679143.0625 - val_loss: 297.8484 - val_mae: 297.8484 - val_mse: 356272.5938
Epoch 59/100
200/200 [==============================] - 0s 2ms/step - loss: 242.6833 - mae: 242.6833 - mse: 677918.1875 - val_loss: 297.7591 - val_mae: 297.7591 - val_mse: 354048.1562
Epoch 60/100
200/200 [==============================] - 0s 2ms/step - loss: 242.1438 - mae: 242.1438 - mse: 677082.3125 - val_loss: 298.8869 - val_mae: 298.8869 - val_mse: 351474.0000
Epoch 61/100
200/200 [==============================] - 0s 2ms/step - loss: 241.8533 - mae: 241.8533 - mse: 676342.2500 - val_loss: 297.6994 - val_mae: 297.6994 - val_mse: 353824.2812
Epoch 62/100
200/200 [==============================] - 0s 2ms/step - loss: 241.2135 - mae: 241.2135 - mse: 675260.6250 - val_loss: 297.6364 - val_mae: 297.6364 - val_mse: 350515.3125
Epoch 63/100
200/200 [==============================] - 0s 2ms/step - loss: 241.0827 - mae: 241.0827 - mse: 673835.1250 - val_loss: 297.6167 - val_mae: 297.6167 - val_mse: 352054.7500
Epoch 64/100
200/200 [==============================] - 0s 2ms/step - loss: 240.7641 - mae: 240.7641 - mse: 673558.8125 - val_loss: 298.3100 - val_mae: 298.3100 - val_mse: 349450.0312
Epoch 65/100
200/200 [==============================] - 0s 2ms/step - loss: 239.9753 - mae: 239.9753 - mse: 672572.1875 - val_loss: 297.0662 - val_mae: 297.0662 - val_mse: 350959.8750
Epoch 66/100
200/200 [==============================] - 0s 2ms/step - loss: 239.2607 - mae: 239.2607 - mse: 671467.2500 - val_loss: 296.3617 - val_mae: 296.3617 - val_mse: 353622.7188
Epoch 67/100
200/200 [==============================] - 0s 2ms/step - loss: 239.0222 - mae: 239.0222 - mse: 670987.7500 - val_loss: 296.4099 - val_mae: 296.4099 - val_mse: 351440.5312
Epoch 68/100
200/200 [==============================] - 0s 2ms/step - loss: 238.5369 - mae: 238.5369 - mse: 670243.3750 - val_loss: 296.6132 - val_mae: 296.6132 - val_mse: 350103.8438
Epoch 69/100
200/200 [==============================] - 0s 2ms/step - loss: 237.9149 - mae: 237.9149 - mse: 668900.5625 - val_loss: 296.2348 - val_mae: 296.2348 - val_mse: 350285.1562
Epoch 70/100
200/200 [==============================] - 0s 2ms/step - loss: 237.8711 - mae: 237.8711 - mse: 668227.1250 - val_loss: 296.3033 - val_mae: 296.3033 - val_mse: 349011.0000
Epoch 71/100
200/200 [==============================] - 0s 2ms/step - loss: 237.1638 - mae: 237.1638 - mse: 667478.5625 - val_loss: 296.0223 - val_mae: 296.0223 - val_mse: 349982.1875
Epoch 72/100
200/200 [==============================] - 0s 2ms/step - loss: 236.8788 - mae: 236.8788 - mse: 666687.3125 - val_loss: 295.8678 - val_mae: 295.8678 - val_mse: 350224.7188
Epoch 73/100
200/200 [==============================] - 0s 2ms/step - loss: 236.4421 - mae: 236.4421 - mse: 665865.6250 - val_loss: 296.3609 - val_mae: 296.3609 - val_mse: 348808.8438
Epoch 74/100
200/200 [==============================] - 0s 2ms/step - loss: 236.0821 - mae: 236.0821 - mse: 665373.0625 - val_loss: 296.1566 - val_mae: 296.1566 - val_mse: 345874.0312
Epoch 75/100
200/200 [==============================] - 0s 2ms/step - loss: 235.7168 - mae: 235.7168 - mse: 664518.6250 - val_loss: 295.5203 - val_mae: 295.5203 - val_mse: 347932.5625
Epoch 76/100
200/200 [==============================] - 0s 1ms/step - loss: 235.2832 - mae: 235.2832 - mse: 664044.9375 - val_loss: 295.7065 - val_mae: 295.7065 - val_mse: 345387.4375
Epoch 77/100
200/200 [==============================] - 0s 2ms/step - loss: 234.8506 - mae: 234.8506 - mse: 662361.5000 - val_loss: 296.4559 - val_mae: 296.4559 - val_mse: 343599.8438
Epoch 78/100
200/200 [==============================] - 0s 2ms/step - loss: 234.6375 - mae: 234.6375 - mse: 662253.0625 - val_loss: 295.4885 - val_mae: 295.4885 - val_mse: 345168.2812
Epoch 79/100
200/200 [==============================] - 0s 2ms/step - loss: 234.3200 - mae: 234.3200 - mse: 661301.1875 - val_loss: 295.2975 - val_mae: 295.2975 - val_mse: 346450.2812
Epoch 80/100
200/200 [==============================] - 0s 2ms/step - loss: 233.8128 - mae: 233.8128 - mse: 660295.1250 - val_loss: 295.1459 - val_mae: 295.1459 - val_mse: 345276.2500
Epoch 81/100
200/200 [==============================] - 0s 2ms/step - loss: 233.6112 - mae: 233.6112 - mse: 660361.8125 - val_loss: 295.2325 - val_mae: 295.2325 - val_mse: 345031.6250
Epoch 82/100
200/200 [==============================] - 0s 2ms/step - loss: 233.3374 - mae: 233.3374 - mse: 659311.6250 - val_loss: 295.3726 - val_mae: 295.3726 - val_mse: 342663.0312
Epoch 83/100
200/200 [==============================] - 0s 2ms/step - loss: 232.9681 - mae: 232.9681 - mse: 658817.1250 - val_loss: 295.0754 - val_mae: 295.0754 - val_mse: 344616.3125
Epoch 84/100
200/200 [==============================] - 0s 2ms/step - loss: 232.6347 - mae: 232.6347 - mse: 658639.3750 - val_loss: 294.6874 - val_mae: 294.6874 - val_mse: 344262.8438
Epoch 85/100
200/200 [==============================] - 0s 1ms/step - loss: 232.1994 - mae: 232.1994 - mse: 657142.5000 - val_loss: 294.4052 - val_mae: 294.4052 - val_mse: 344240.5938
Epoch 86/100
200/200 [==============================] - 0s 2ms/step - loss: 232.0128 - mae: 232.0128 - mse: 656621.8750 - val_loss: 294.1850 - val_mae: 294.1850 - val_mse: 344738.5938
Epoch 87/100
200/200 [==============================] - 0s 2ms/step - loss: 231.6936 - mae: 231.6936 - mse: 656499.3750 - val_loss: 293.7603 - val_mae: 293.7603 - val_mse: 343688.7500
Epoch 88/100
200/200 [==============================] - 0s 2ms/step - loss: 231.3694 - mae: 231.3694 - mse: 655717.3750 - val_loss: 293.7537 - val_mae: 293.7537 - val_mse: 343374.5938
Epoch 89/100

200/200 [==============================] - 0s 2ms/step - loss: 230.8713 - mae: 230.8713 - mse: 654723.8750 - val_loss: 293.8276 - val_mae: 293.8276 - val_mse: 342898.8438
Epoch 90/100
200/200 [==============================] - 0s 2ms/step - loss: 230.7260 - mae: 230.7260 - mse: 654371.1875 - val_loss: 293.8238 - val_mae: 293.8238 - val_mse: 345175.0000
Epoch 91/100
200/200 [==============================] - 0s 2ms/step - loss: 230.5222 - mae: 230.5222 - mse: 653689.9375 - val_loss: 294.3355 - val_mae: 294.3355 - val_mse: 341555.8438
Epoch 92/100
200/200 [==============================] - 0s 2ms/step - loss: 230.3696 - mae: 230.3696 - mse: 653346.6875 - val_loss: 293.8248 - val_mae: 293.8248 - val_mse: 341828.8438
Epoch 93/100
200/200 [==============================] - 0s 2ms/step - loss: 230.3822 - mae: 230.3822 - mse: 652610.2500 - val_loss: 293.0469 - val_mae: 293.0469 - val_mse: 343540.5312
Epoch 94/100
200/200 [==============================] - 0s 2ms/step - loss: 229.6385 - mae: 229.6385 - mse: 652143.6875 - val_loss: 294.0106 - val_mae: 294.0106 - val_mse: 341268.2500
Epoch 95/100
200/200 [==============================] - 0s 2ms/step - loss: 229.2471 - mae: 229.2471 - mse: 651537.0625 - val_loss: 293.6593 - val_mae: 293.6593 - val_mse: 341768.8750
Epoch 96/100
200/200 [==============================] - 0s 2ms/step - loss: 228.9700 - mae: 228.9700 - mse: 650789.1875 - val_loss: 293.0536 - val_mae: 293.0536 - val_mse: 340607.0000
Epoch 97/100
200/200 [==============================] - 0s 2ms/step - loss: 228.8188 - mae: 228.8188 - mse: 650315.6250 - val_loss: 293.4543 - val_mae: 293.4543 - val_mse: 339845.3125
Epoch 98/100
200/200 [==============================] - 0s 2ms/step - loss: 228.7865 - mae: 228.7865 - mse: 649906.4375 - val_loss: 293.5261 - val_mae: 293.5261 - val_mse: 340149.9062
Epoch 99/100
200/200 [==============================] - 0s 2ms/step - loss: 228.5371 - mae: 228.5371 - mse: 649277.3125 - val_loss: 293.0755 - val_mae: 293.0755 - val_mse: 341049.4688
Epoch 100/100
200/200 [==============================] - 0s 2ms/step - loss: 228.2169 - mae: 228.2169 - mse: 648297.2500 - val_loss: 292.7868 - val_mae: 292.7868 - val_mse: 342682.9062
63/63 [==============================] - 0s 981us/step - loss: 306.0389 - mae: 306.0389 - mse: 499245.5625
MAE: 306.0389099121094
MSE: 499245.5625

The testing MAE is slightly worse than the training MAE but the difference isn't big enough to say that it is overfitting or underfitting.

Conclusions:

ReLu is by far the best activation function for our task, which make sense since there are linear relationships in the data.

# Next Models: Linear Regression and Gradient Boosting Machines